<div class="brand-header header-background-about text-center text-oswald ms-ag-ms-main-foto-text">
    <div class="row text-center">
        <div class="col-xs-offset-1 col-xs-10 text-uppercase headline-responsive-40">
            <span>COMMUNITY-DRIVEN TELEMATICS</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10 text-oswald text-center" style="font-size: 20pt;">
            Digital Driving Pass  makes your driving experience better, safer, and more personal.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2 class="text-uppercase">about</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-info text-center ms-ag-landing-promo">
        <p class="text-info"><span style="font-weight:400">Digital Driving Pass (DDP)</span> was built from a passion to make a <span style="font-weight:400">positive impact on people’s lives</span>.
            Traffic congestion, non-optimal driving behaviour, road safety, extensive car use, and changing mobility patterns are truly affecting many countries across the globe.
            That’s why new intelligent solutions are needed to address the current problems. That’s why we built DDP.</p>
    </div>
</div>
<div class="row bg-ms-gray-light">
    <div class="row-height" id="about-story">
        <div class="col-md-4 col-md-height col-sm-12 about-bg-story h-sm-50" style="background-position: right"></div>
        <div class="col-xs-10 col-xs-offset-1 pv-72">
            <h2 class="fg-ms-petrol text-uppercase">our mission</h2>
            <br>
            <p>
                We believe that telematics and connected car technologies can have a positive impact on people’s lives and business operations,
                and will transform the traditional driving experience. But it has to be done well - with the driver in the centre of the whole ecosystem.
			</p>
			<p>
                That’s why we created a driver-centric, open, and engaging ecosystem that will incentive people to drive better and benefit from that.
                DDP analyzes how people drive, and generates private, personalized feedback to immediately improve driving. We want to reward people for driving well.
                That’s why DDP connects drivers and businesses that provide customized rewards, bonuses, and driver dedicated services including personal insurance policies,
                based on the driver’s driving behaviour, and/or discounts on car rental and car sharing. All with data access, data control and privacy in mind.
			</p>
			<p>
                We want the driver’s DDP profile to become an extension of their traditional driving license and to be used in different contexts, throughout the driving journey,
                ranging from early-on driving education to later life advanced driving.
            </p>
        </div>
    </div>
</div>
<div class="row bg-ms-petrol">
    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 text-center ms-ag-landing-promo" style="color: #fafafa;">
        Digital Driving Pass is more than a driving license or just another app.
        Digital Driving Pass is everything you need as a smart driver.
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 text-center pv-72">
        <h2 class="fg-ms-petrol text-uppercase text-left-sm">who we are</h2>
        <br>
        <p class="text-left-sm">
            Digital Driving Pass is based in Belgium and in Poland but our team comes from all around the globe and includes Computer Science specialists,
            Transportation and Mobility experts, Actuaries, Engineers, Data Scientists, UX/UI Designers, PhDs and Professors. We are passionate about creating
            new personalized driving experience and making our roads safer and greener. We have the right skills and enthusiasm to make it happen.
            So join us on the road to future!!!
        </p>
    </div>
</div>
<div class="row h-sm-50 visible-xs visible-sm about-bg-research-sm"></div>
<div class="row fg-ms-gray-lighter text-center pv-72 ms-ag-about-bg-research">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h2 class="text-info text-uppercase text-left-sm">Research & Development</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
            <h3 class="text-uppercase text-left-sm">PARTNERSHIP WITH A LEADING ACADEMIC INSTITUTION</h3>
            <p class=" text-left-sm">
                Mobility is "the" challenge of the future. On the Flemish, Belgian, but also at European level, the Transportation Research Institute (IMOB) has grown to become 
				a leading player in the field of Transportation and Traffic Safety.
            </p>
			<p class="text-left-sm"><em>“Mobility gives us freedom. If we want to safeguard this for future generations, we need to take a different path.”</em> (Geert Wets, director IMOB)
			</p>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2" style="padding-top: 36px; padding-left: 0px; padding-right: 0px;">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-1 text-center text-uppercase text-left-sm">
				<p class="ms-text-15 text-oswald text-light">IMOB coordinates and executes successful large (international) research projects.</p>
			</div>
            <div class="col-xs-12 col-md-4 col-md-offset-2 text-center text-uppercase text-left-sm">
				<p class="ms-text-15 text-oswald text-light">IMOB builds-up expertise in policy support in cooperation with partners from health-care and industry.</p>
			</div>
        </div>
    </div>
</div>
<div class="row text-center" style="padding-top: 72px;">
    <div class="col-xs-offset-1 col-xs-10">
        <h2 class="text-info text-uppercase">our team</h2> ​
    </div>
</div>
<div class="row hidden-xs hidden-sm" style="padding-bottom: 72px;">
    <div class="col-md-12">
        <div id="carousel-md" class="carousel slide team-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-md" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-md" data-slide-to="1"></li>
				<li data-target="#carousel-md" data-slide-to="2"></li>
				<li data-target="#carousel-md" data-slide-to="3"></li>
            </ol>
            ​
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-3">
                            <div team-member member="members[0]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[1]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[2]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[3]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <div team-member member="members[4]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[5]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[6]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[7]"></div>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <div team-member member="members[8]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[9]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[10]"></div>
                        </div>
                        <!--<div class="col-md-3">-->
                            <!--<div team-member member="members[11]"></div>-->
                        <!--</div>-->
                        <div class="col-md-3">
                            <div team-member member="members[15]"></div>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="row">
                        <div class="col-md-4">
                            <div team-member member="members[12]"></div>
                        </div>
                        <div class="col-md-4">
                            <div team-member member="members[13]"></div>
                        </div>
                        <div class="col-md-4">
                            <div team-member member="members[14]"></div>
                        </div>
                        <!--<div class="col-md-3">-->
                            <!--<div team-member member="members[15]"></div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-xs visible-sm" style="padding-bottom: 72px;">
    <div class="col-xs-12">
        <div id="carousel-xs" class="carousel slide team-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" >
                <li data-target="#carousel-xs" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-xs" data-slide-to="1"></li>
                <li data-target="#carousel-xs" data-slide-to="2"></li>
                <li data-target="#carousel-xs" data-slide-to="3"></li>
				<li data-target="#carousel-xs" data-slide-to="4"></li>
				<li data-target="#carousel-xs" data-slide-to="5"></li>
				<li data-target="#carousel-xs" data-slide-to="6"></li>
				<li data-target="#carousel-xs" data-slide-to="7"></li>
            </ol>
            ​
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[0]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[1]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[2]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[3]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[4]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[5]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[6]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[7]"></div>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[8]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[9]"></div>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[10]"></div>
                        </div>
                        <!--<div class="col-xs-6">-->
                            <!--<div team-member member="members[11]"></div>-->
                        <!--</div>-->
                        <div class="col-xs-6">
                            <div team-member member="members[15]"></div>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[12]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[13]"></div>
                        </div>
                    </div>
                </div>
				<div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[14]"></div>
                        </div>
                        <!--<div class="col-xs-6">-->
                            <!--<div team-member member="members[15]"></div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<request-a-demo></request-a-demo>
<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>