<div class="brand-header header-background-about text-center ms-main-foto-text text-oswald">
    <div class="row text-center">
        <div class="col-xs-offset-1 col-xs-10 text-uppercase headline-responsive-40">
            <span>WE ARE REVOLUTIONING THE TELEMATICS FIELD</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-6 col-md-offset-3 col-xs-offset-1 col-xs-10 text-center" style="font-family: arial, sans-serif; font-size: 20pt;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2 class="text-uppercase">about</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <blockquote class="mv-72" style="border-left: none;">
            <p class="text-info">Nulluptiae volupta pore dipictemped eseribustius que volupta tempelit fuga.
                Quiatio inustias ut es nones vit ad quiamus eatur sum doloribus eri acepraerorem
                illiquis most, nos rem erferio tem. Olenimin reniet aut volupiet, cus.</p>
            <footer>
                <cite title="Quiadolum Autexplabo endipsam quuntib ernatur re">
                    Quiadolum Autexplabo endipsam quuntib ernatur re
                </cite>
            </footer>
        </blockquote>
    </div>
</div>
<div class="row bg-ms-gray-light">
    <div class="row-height" id="about-story">
        <div class="col-md-4 col-md-height col-sm-12 about-bg-story  h-sm-50"></div>
        <div class="col-sm-10 col-sm-offset-1 pv-72">
            <h2 class="fg-ms-petrol text-uppercase">our story</h2>

            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. <br/>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
        </div>
    </div>
</div>
<div class="row"><div class="col-xs-12 visible-xs visible-sm h-sm-50 about-bg-vision"></div></div>
<div class="row ">
    <div class="row-height">
        <div class="col-xs-10 col-xs-offset-1 pv-72">
            <h2 class="fg-ms-petrol text-uppercase">our vision</h2>

            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
                reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel
                illum qui dolorem eum fugiat quo voluptas nulla pariatur
            </p>
        </div>
        <div class="col-md-4 col-md-height col-sm-height about-bg-vision hidden-sm hidden-xs">
        </div>
    </div>
</div>
<div class="row about-bg-research-sm h-sm-50 visible-xs visible-sm"></div>
<div class="row about-bg-research fg-ms-gray-lighter text-center pv-72">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <h2 class="text-info text-uppercase text-left-sm">our research</h2>
        </div>
        <br/>
    </div>
    <div class="row pv-36">
        <div class="col-xs-offset-1 col-xs-10">
            <h3 class="text-uppercase text-left-sm">PARTNERSHIP WITH A LEADING ACADEMIC INSTITUTION</h3>
            <p class=" text-left-sm">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo.
            </p>
        </div>
    </div>
    <div class="row pv-18">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="row">
                <div class="col-md-offset-1 col-md-2 col-xs-4 text-center text-uppercase"><h3>FIRST VERY INTERESTING DATA ABOUT IMOB</h3></div>
                <div class="col-md-offset-2 col-md-2 col-xs-4 text-center text-uppercase"><h3>SECOND VERY INTERESTING DATA ABOUT IMOB</h3></div>
                <div class="col-md-offset-2 col-md-2 col-xs-4 text-center text-uppercase"><h3>THIRD VERY INTERESTING DATA ABOUT IMOB</h3></div>
            </div>
        </div>
    </div>
</div>
<div class="row pv-36 text-center">
    <div class=" col-xs-offset-1 col-xs-10">
        <h2 class="text-info pv-18 text-uppercase text-left-sm">our team</h2>

        <p class="pv-18 text-left-sm">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.
        </p>
    </div>
</div>
<div class="row hidden-xs hidden-sm">
    <div class="col-md-12">
        <div id="carousel-md" class="carousel slide team-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-md" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-md" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-3">
                            <div team-member member="members[0]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[1]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[3]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[4]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3">
                            <div team-member member="members[5]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[6]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[7]"></div>
                        </div>
                        <div class="col-md-3">
                            <div team-member member="members[8]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-xs visible-sm">
    <div class="col-xs-12">
        <div id="carousel-xs" class="carousel slide team-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-xs" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-xs" data-slide-to="1"></li>
                <li data-target="#carousel-xs" data-slide-to="2"></li>
                <li data-target="#carousel-xs" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[0]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[1]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[2]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[3]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[4]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[5]"></div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-6">
                            <div team-member member="members[6]"></div>
                        </div>
                        <div class="col-xs-6">
                            <div team-member member="members[7]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<request-a-demo></request-a-demo>
<script>
    $('.carousel').carousel({
        interval: 5000
    })
</script>