<div class="brand-header header-background-contact text-center text-oswald ms-ag-ms-main-foto-text">
    <div class="row text-center">
        <div class="col-xs-12 text-uppercase headline-responsive-40">
            <span>WE WOULD LOVE TO HAVE A COFFEE WITH YOU</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10 text-oswald text-center"
             style="font-size: 20pt;">
            Let's meet and discuss how Digital Driving Pass can help your company build an engaging, privacy-friendly
            and successful telematics-based offer for your customers.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2 class="text-uppercase">contact</h2>
    </div>
</div>
<div class="row pv-56">
    <div class="col-xs-offset-2 col-xs-4  visible-xs visible-sm">
        <h2 class="text-info text-uppercase pv-18">additional info</h2>

        <p>
            Digital Driving Pass is a telematics platform project developed
            by Motosmarty BVBA, a registered company in Belgium.
        </p>
    </div>
    <div class="col-xs-4 visible-xs visible-sm text-nowrap">
        <h2 class="text-info text-uppercase pv-18">get in touch</h2>

        <div>
                <span class="fa-stack">
                    <i class="fa icon-ms-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
            <span class="ms-text-15 ms-text-15-sm">contact@motosmarty.com</span>
        </div>
        <div>
                <span class="fa-stack">
                    <i class="fa icon-ms-circle fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x"></i>
                </span>
            <span class="ms-text-15 ms-text-15-sm">+32 (0) 485 963952</span>
        </div>
        <div>
                <span class="fa-stack">
                    <i class="fa icon-ms-circle fa-stack-2x"></i>
                    <i class="fa icon-ms-house fa-stack-1x"></i>
                </span>
            <span class="ms-text-15 ms-text-15-sm">Pr. Roger van Overstraetenplein 2</span>
        </div>
        <div style="margin-left: 40px; margin-top: -6px;">
            <span class="ms-text-15 ms-text-15-sm">3000, Leuven <br/>
                        Belgium</span>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-offset-2 col-xs-8 fx-fade-up" ng-hide="email.sent">
        <h2 class="text-info text-uppercase pv-18">mail us</h2>

        <form name="contact">
            <div class="form-group" ng-class="{'has-error': contact.name.$invalid && contact.name.$dirty}">
                <input type="text" name="name" ng-model="email.name" class="form-control" placeholder="NAME" required/>
            </div>
            <div class="form-group" ng-class="{'has-error': contact.email.$invalid && contact.email.$dirty}">
                <input type="email" name="email" ng-model="email.email" class="form-control" placeholder="EMAIL"
                       required/>
            </div>
            <div class="form-group" ng-class="{'has-error': contact.message.$invalid && contact.message.$dirty}">
                <textarea name="message" ng-model="email.message" class="form-control" cols="30" rows="5"
                          placeholder="MESSAGE" required></textarea>
            </div>
            <button class="btn btn-lg text-uppercase text-oswald pull-right ms-ag-btn-info"
                    analytics-on analytics-event="CONTACT form SEND"
                    ng-disabled="contact.$invalid"
                    style="width: 150pt;" ng-click="email.send()">submit
            </button>
        </form>
    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-offset-2 col-xs-8 fx-fade-up" ng-show="email.sent">
        <h2 class="text-info text-uppercase pv-18 text-center">Thank you!</h2>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm ">
        <h2 class="text-info text-uppercase pv-18">additional info</h2>

        <p>
            Digital Driving Pass is a telematics platform project developed
            by Motosmarty BVBA, a registered company in Belgium
            working on developing smart solutions for drivers
            needs since few years.
        </p>

        <div class="text-nowrap">
            <h2 class="text-info text-uppercase pv-18">get in touch</h2>

            <div>
                        <span class="fa-stack">
                            <i class="fa icon-ms-circle fa-stack-2x"></i>
                            <i class="fa fa-envelope fa-stack-1x"></i>
                        </span>
                contact@motosmarty.com
            </div>
            <div>
                        <span class="fa-stack">
                            <i class="fa icon-ms-circle fa-stack-2x"></i>
                            <i class="fa fa-phone fa-stack-1x"></i>
                        </span>
                +32 (0) 485 963952
            </div>
            <div>
                        <span class="fa-stack">
                            <i class="fa icon-ms-circle fa-stack-2x"></i>
                            <i class="fa icon-ms-house fa-stack-1x"></i>
                        </span>
                        <span>
                            Pr. Roger van Overstraetenplein 2
                        </span>
            </div>
            <div style="margin-left: 40px; margin-top: -6px;">
                3000, Leuven <br/>
                Belgium
            </div>
        </div>
    </div>
</div>
<div id="contact-location">
    <ui-gmap-google-map id="contact-map" center="map.center" zoom="map.zoom" options="map.options"></ui-gmap-google-map>
    <div class="address text-info text-center text-uppercase text-oswald">
        <div><i class="fa fa-map-marker ms-text-70"></i></div>
        <h1>motosmarty bvba</h1>

        <p>
            PR. ROGER VAN OVERSTRAETENPLEIN 2 <br/>
            B-3000 LEUVEN
        </p>
    </div>
</div>
<div class="row pv-36 text-center text-oswald bg-ms-petrol fg-ms-gray-lighter">
    <sub class="text-uppercase ms-text-25">KEEP IN TOUCH AND FOLLOW US ON</sub> <span style="margin-left: 50pt">
        <a href="https://twitter.com/motosmarty" class="fa-stack fa-lg ms-click-icon ms-click-icon-contact">
            <i class="fa icon-ms-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x social-inner"></i>
        </a>
        <a href="https://www.linkedin.com/company/motosmarty-bvba" class="fa-stack fa-lg ms-click-icon ms-click-icon-contact">
            <i class="fa icon-ms-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x social-inner"></i>
        </a>
    </span>
</div>
<script>
//    $('.ms-click-icon').mouseenter(function () {
//        var first = $(this).children().first();
//        first.switchClass('icon-ms-circle', 'icon-ms-circle-full');
//    }).mouseleave(function () {
//        var first = $(this).children().first();
//        first.switchClass('icon-ms-circle-full', 'icon-ms-circle');
//    })
$('a.ms-click-icon-contact').mouseenter(function () {
    var first = $(this).children().first();
    first.toggleClass('icon-ms-circle-full');
}).mouseleave(function () {
    var first = $(this).children().first();
    first.toggleClass('icon-ms-circle-full');
})
</script>
