<div class="brand-header header-background-enterprises text-center text-oswald ms-ag-ms-main-foto-text" >
    <div class="row text-center">
        <div class="col-xs-offset-1 col-xs-10 text-uppercase headline-responsive-40">
            <span>A new driving ecosystem</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10 text-oswald text-center" style="font-size: 20pt;">
            Digital Driving Pass connects businesses to a multi-dimensional community of drivers using DDP customer engagement features that are suitable for multiple target markets.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2 class="text-uppercase">enterprises</h2>
    </div>
</div>
<div du-spy-context class="subnav-bar text-center text-uppercase text-oswald hidden-xs hidden-sm"
     sticky offset="60">
    <div class="col-xs-2 col-xs-offset-3 ms-tab tab-default" du-scrollspy="ent-1" du-smooth-scroll="ent-1-anchor">
        <span>Car sharing/valet</span>
    </div>
    <div class="col-xs-2 ms-tab tab-default" du-scrollspy="ent-2" du-smooth-scroll="ent-2-anchor">
        <span>Insurance</span>
    </div>
    <div class="col-xs-2 ms-tab tab-default" du-scrollspy="ent-3" du-smooth-scroll="ent-3-anchor">
        <span>Fleets</span>
    </div>
</div>
<div du-spy-context class="subnav-bar text-center text-uppercase text-oswald visible-xs visible-sm"
     sticky offset="121">
    <div class="col-xs-4 col-xs-offset-0 ms-tab tab-default" du-scrollspy="ent-1" du-smooth-scroll="ent-1-anchor">
        <span>Car sharing/valet</span>
    </div>
    <div class="col-xs-4 ms-tab tab-default" du-scrollspy="ent-2" du-smooth-scroll="ent-2-anchor">
        <span>Insurance</span>
    </div>
    <div class="col-xs-4 ms-tab tab-default" du-scrollspy="ent-3" du-smooth-scroll="ent-3-anchor">
        <span>Fleets</span>
    </div>
</div>
<div id="ent-1-anchor" style="position: relative; top: 30px;"></div>
<div class="" id="ent-tabs" style="margin-top: 60px;">
    <div class="row ent-t-1" id="ent-1">
		<div class="row ent-t-1-sm visible-xs visible-sm"></div>
        <div class="row">
            <h2 class="text-info text-uppercase text-center ms-ag-pv-36-18">Car sharing/valet</h2>
        </div>
        <div class="row" style="margin-bottom: 72px;">
            <div class="col-md-offset-2 col-md-8  col-xs-offset-1 col-xs-10">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Bring extra trust</h3>
                        <p>
                            Trust is a crucial factor in the mainstream car sharing economy. Thanks to objective and contextualized driver profiling, as well as access to the DDP 
							profiles, you can learn who is a good and safe driver. DDP thus brings an additional layer of trust that inevitably leads to more transactions amongst users.
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Understand your drivers better</h3>
                        <p>
                            Thanks to our driver-centric analytics you can understand how well your drivers are doing - whether they are speeding, aggressive, or distracted. 
							You can simply integrate DDP SDK into your driving app and  enjoy all the benefits of the DDP platform: perfect for ridesharing, carsharing, 
							delivery companies, and other valet services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ent-2-anchor" class="subnav-anchor"></div>
    <div class="row ent-t-2" id="ent-2">
        <div class="row">
            <h2 class="text-info text-uppercase text-center ms-ag-pv-36-18">Insurance</h2>
        </div>
        <div class="row" style="margin-bottom: 72px;">
            <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Robust driver profiling</h3>
                        <p>
                            We help you understand your customers’ driving behaviour thanks to DDP’s robust driving profiling algorithms built by our own world-class experts 
							in computer sciences, Big Data, actuarial sciences, transportation and mobility, and traffic psychology.
                        </p>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Driver centric</h3>
                        <p>
                            Our gamified platform engages and informs drivers by harvesting driving style data and generating real time feedback while protecting their privacy. 
							Drivers can count on data access, control and privacy with DDP and at the same time benefit from their DDP profiles. 
                        </p>
                    </div>
					<div class="col-md-4 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Usage-Based Insurance and prevention programs</h3>
                        <p>
                            DDP helps you to link insurance premiums to actual driving risk. Thanks to our effective driving feedback system we also support you in organizing 
							successful prevention programs. Count on DDP for the rapid deployment of cost-efficient, competitive, and successful insurance programs. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div id="ent-3-anchor" class="subnav-anchor"></div>
    <div class="row ent-t-3" id="ent-3">
        <div class="row ent-t-3-sm visible-xs visible-sm"></div>
        <div class="row">
            <h2 class="text-info text-uppercase text-center ms-ag-pv-36-18">Fleets</h2>
        </div>
        <div class="row" style="margin-bottom: 72px;">
            <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Actionable insights</h3>
                        <p>
                            Digital Driving Pass monitors driving behavior and analyzes the data gathered so you know how your drivers are doing - our system will analyze how 
							drivers accelerate and how they brake. It can tell you where they drive and the condition of the roads. It will identify the geographical area and the 
							driver’s familiarity with the route. It can even tell you how the driver reacts under stressful driving conditions. All with the help of smartphone 
							sensors - just plug in DDP SDK into your driving solution or use our DDP app and start enjoying all the benefits of the DDP platform
                        </p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h3 class="text-oswald headline-responsive-20 text-uppercase">Motivated employees, safe & profitable fleet</h3>
                        <p>
                            Our driver-centric Digital Driving Pass encourages employee engagement through social connections and gamification. DDP gives employees a community 
							platform to encourage and grow their community which is crucial to the health of any company. Moreover, we provide you with an engagement platform where 
							you can customize rewards, bonuses, and driver dedicated resources. As a result, the DDP platform will support you in your efforts to train staff, 
							ensure driver and fleet safety, increase savings and create an energetic and thriving corporation.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<request-a-demo></request-a-demo>