<div class="brand-header header-background-features text-center ms-main-foto-text text-oswald row ms-ag-ms-main-foto-text" >
    <div class="row text-center">
        <div class="col-xs-8 col-xs-offset-2 text-uppercase headline-responsive-40">
            <span>COMMUNITY-DRIVEN TELEMATICS PLATFORM</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10 text-oswald text-center" style="font-size: 20pt;">
            Digital Driving Pass is a cutting edge solution to many long standing driving challenges.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2>FEATURES</h2>
    </div>
</div>
<div du-spy-context class="features-subnav-bar text-center hidden-xs hidden-sm" sticky offset="60">
    <div class="col-xs-offset-2 col-xs-2 ms-tab tab-analytics" du-scrollspy="features-tabs-analytics-content" du-smooth-scroll="features-tabs-analytics">
        ANALYTICS
    </div>
    <div class="col-xs-2 ms-tab tab-feedback" du-scrollspy="features-tabs-feedback-content" du-smooth-scroll="features-tabs-feedback">
        FEEDBACK
    </div>
    <div class="col-xs-2 ms-tab tab-community" du-scrollspy="features-tabs-community-content" du-smooth-scroll="features-tabs-community">
        COMMUNITY
    </div>
    <div class="col-xs-2 ms-tab tab-rewards" du-scrollspy="features-tabs-rewards-content" du-smooth-scroll="features-tabs-rewards">
        REWARDS
    </div>
</div>
<div du-spy-context class="features-subnav-bar text-center hidden-md hidden-lg" sticky offset="121">
    <div class="col-xs-offset-0 col-xs-3 ms-tab tab-analytics" du-scrollspy="features-tabs-analytics-content" du-smooth-scroll="features-tabs-analytics">
        ANALYTICS
    </div>
    <div class="col-xs-3 ms-tab tab-feedback" du-scrollspy="features-tabs-feedback-content" du-smooth-scroll="features-tabs-feedback">
        FEEDBACK
    </div>
    <div class="col-xs-3 ms-tab tab-community" du-scrollspy="features-tabs-community-content" du-smooth-scroll="features-tabs-community">
        COMMUNITY
    </div>
    <div class="col-xs-3 ms-tab tab-rewards" du-scrollspy="features-tabs-rewards-content" du-smooth-scroll="features-tabs-rewards">
        REWARDS
    </div>
</div>
<div id="features-tabs-analytics" class="subnav-anchor"></div>
<div class="row" id="features-tabs-contents" style="margin-top: 60px;">
    <div class="row-height" id="features-tabs-analytics-content">
        <div class="col-md-4 col-md-height features-bg-analytics col-sm-12 h-sm-50"></div>
        <div class="col-xs-10 col-xs-offset-1 pv-36">
            <h2 class="fg-ms-blue">ANALYTICS</h2>
            <h3 class="text-uppercase">Contextualized Scoring</h3>
            <p>
                Digital Driving Pass monitors your driving behavior and analyzes it so you know how you are doing. Our easy plug and play in-car format hits the road with you, 
				generating private, driver-controlled data on your daily driving habits - how you drive, where you drive, your speed, how often you break, everything. 
				Scoring will rate your driving behavior, car use, road safety, and travel routes with speed and braking patterns.
            </p>
            <h3 class="text-uppercase">Smart Analytics</h3>
            <p>
                Digital Driving Pass also provides smart analytics about driving and mobility taking into account driving behavior, car use, safety and risk - information 
				valuable for insurers (UBI), road authorities (road safety policy & road tax), roadside assistance (remote vehicle breakdown assistance), driving training 
				(personalized coaching) and car fleet businesses (fleet safety & efficiency).
            </p>
            <br/>
        </div>
    </div>
</div>
<div id="features-tabs-feedback" class="subnav-anchor"></div>
<div class="row bg-ms-gray-light" >
    <div class="row-height" id="features-tabs-feedback-content">
        <div class="col-md-height  features-bg-feedback visible-xs visible-sm h-sm-50">
        </div>
        <div class="col-xs-10 col-xs-offset-1 pv-36">
            <h2 class="fg-ms-green">FEEDBACK</h2>

            <h3 class="text-uppercase">It’s personal</h3>

            <p>
                Digital Driving Pass employs an Advanced Driving Feedback System which generates private, personalized feedback to immediately improve driving. It also
				eliminates the need for uncomfortable, face-to-face encounters with drivers. It’s like a private personal driving coach that gives constructive, non-judgemental,
				educational feedback on the driver’s achievements and the areas that need improvement.
            </p>

            <h3 class="text-uppercase">It’s efficient</h3>

            <p>
                Our feedback can comfortably address any target group including young people, seniors, employees or newly trained drivers, maximizing driver buy-on, ongoing 
				learning and risk reduction. It engages and informs drivers, changing the world, one driver at a time.
            </p>

            <h3 class="text-uppercase">It’s fun</h3>

            <p>
                DDP uses game design elements including challenges, badges and points to teach, engage and motivate drivers. A friendly competition is a great way to stimulate
				drivers to reach their goals, engage them in a fun way, and improve their experience.
            </p>
			<br>
        </div>
        <div class="col-md-4 col-md-height col-sm-height features-bg-feedback hidden-xs hidden-sm">
        </div>
    </div>
</div>
<div id="features-tabs-community" class="subnav-anchor"></div>
<div class="row" >
    <div class="row-height" id="features-tabs-community-content">
        <div class="col-md-4 col-md-height features-bg-community col-sm-12 h-sm-50">
        </div>
        <div class="col-xs-10 col-xs-offset-1 pv-36">
            <h2 class="fg-ms-orange">COMMUNITY</h2>
			<p>
				People are always seeking out new ways to connect with others. DDP aims at growing a community of drivers that makes it simple and fun to connect with each other.
				DDP is privacy friendly: each driver’s DDP profile is confidential, and each driver can share their profile as they see fit.
			</p>
			
            <h3 class="text-uppercase">… in private life</h3>

            <p>
                For individual drivers, DDP is a great way of connecting with friends, share personal driving experiences, and benefit from the community.
            </p>

            <h3 class="text-uppercase">… at work</h3>

            <p>
                DDP encourages employee engagement through social connections. Young employees want to work and socialize at the same time. Rather than discourage these connections, 
				DDP gives employees a community platform to encourage and grow their community. DDP provides the young fleet with community access, boasting more features and benefits 
				than before.
            </p>
			<br>
        </div>
    </div>
</div>
<div id="features-tabs-rewards" class="subnav-anchor"></div>
<div class="row bg-ms-gray-light" >
    <div class="row-height" id="features-tabs-rewards-content">
        <div class="features-bg-rewards h-sm-50 visible-xs visible-sm">
        </div>
        <div class="col-xs-10 col-xs-offset-1 pv-36">
            <h2 class="fg-ms-purple">REWARDS</h2>
			<p>
				Everyone wants to be a safe driver, but what if there were rewards tied to changes recommended by the DDP feedback system? What if fleet managers could 
				incentivize improved driving with bonuses for young fleet members?
			</p>
			
            <h3 class="text-uppercase">Good driving = benefits</h3>

            <p>
                Drivers can unlock the value of their new safer driving habits by using their DDP driving data. Specifically, they can receive benefits from services connected 
				to the DDP platform. Good driving means savings and discounts on products and services available inside and outside the automotive ecosystem.
            </p>

            <h3 class="text-uppercase">No matter which businesses</h3>

            <p>
                Consider the savings for a personal insurance policy based on your safe driving record. Imagine winning a car share or free car rental. Parents can offer
				spending money incentives for young drivers. Fleet owners and managers can include special benefits for drivers who lower fuel consumption, have fewer accidents,
				and cause less wear and tear on the fleet vehicles.
            </p>

            <h3 class="text-uppercase">Loyalty platform</h3>

            <p>
                Companies get driver data and thus better insights into their customers, allowing them to provide personalized offers, run community driven marketing campaign 
				and set up a long-term interaction based on values and loyalty.
            </p>
			<br>
        </div>
        <div class="col-md-4 col-md-height col-sm-height features-bg-rewards hidden-xs hidden-sm">
        </div>
    </div>
</div>
<request-a-demo></request-a-demo>
