<div class="brand-header header-background-hiw text-center ms-main-foto-text text-oswald row ms-ag-ms-main-foto-text">
    <div class="row text-center">
        <div class="col-xs-offset-2 col-xs-8 text-uppercase headline-responsive-40">
            <span>open telematics platform</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-8 col-md-offset-2 col-xs-offset-1 col-xs-10 text-oswald text-center"
             style="font-size: 20pt;">
            Build competitive telematics-based solutions with Digital Driving Pass that works with a wide range of
            technologies ranging from smartphones to car infotainment.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2>how it works</h2>
    </div>
</div>
<div class="row">
    <div class="row col-xs-10 col-xs-offset-1 pv-72">
        <div class="col-xs-12 col-md-4 text-center">
			<img src="assets/img/hiw-icon-open-architecture-circle.svg" class="ms-ag-services-icon">
            <div class="text-center ph-18" style="margin-bottom: 20px;">
                <h3 class="text-uppercase text-info"> Open architecture </h3>

                <p> DDP offers companies a wide range of telematics solutions integrated with top tiered, value-added
                    services like active driving feedback, customer analytics and portfolio segmentation.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
			<img src="assets/img/hiw-icon-personalized-offer-circle.svg" class="ms-ag-services-icon">
            <div class="text-center ph-18" style="margin-bottom: 20px;">
                <h3 class="text-uppercase text-info"> Personalized offer </h3>

                <p> We help you decide which is the most suitable device to support your individual telematics
                    program - the best approach is always determined by the combination of the business and user needs.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 text-center">
			<img src="assets/img/hiw-icon-quick-deployment-circle.svg" class="ms-ag-services-icon">
            <div class="text-center ph-18" style="margin-bottom: 20px;">
                <h3 class="text-uppercase text-info"> Competitive deployment </h3>

                <p> DDP allows rapid deployment of cost-efficient, competitive and successful telematics-based programs
                    with a full range of valuable and profitable solutions for your customers.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="hiw-carousel" class="carousel hiw-carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators pv-36">
        <li data-target="#hiw-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hiw-carousel" data-slide-to="1"></li>
        <li data-target="#hiw-carousel" data-slide-to="2"></li>
    </ol>
    <!--wrapper for backgrounds-->
    <div class="hiw-carousel-backgrounds">
        <div class="hiw-t-1"></div>
        <div class="hiw-t-2"></div>
        <div class="hiw-t-4"></div>
    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="row item active" id="hiw-smartphone">
            <div class="hiw-t-1-sm col-xs-12 visible-xs visible-sm"></div>
            <div id="hiv-smartphone-1"></div>
            <div class="ms-ag-hiw-tab-content col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-6 col-xs-10 col-xs-offset-1">
                <h2 class="text-info text-uppercase">Data acquisition</h2>
				<h3 class="text-info">SMARTPHONE</h3>
                Profit from smartphone built-in sensors including GPS and accelerometer, measure driving behaviour, and engage drivers.<br> 
				A smartphone-based solution is the most cost-efficient. Available via app-stores and as a SDK. For more information, do not hesitate to contact us.
            </div>
        </div>
        <div class="row item" id="hiw-obd">
            <div class="hiw-t-2-sm col-xs-12 visible-xs visible-sm"></div>
            <div class="ms-ag-hiw-tab-content col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-6 col-xs-10 col-xs-offset-1">
                <h2 class="text-info text-uppercase">Data acquisition</h2>
				<h3 class="text-info">OBD II</h3>
                The On-board diagnostics (OBD) system is a standardized hardware interface which provides a wide variety of information, including vehicle status. 
				It is a small, typically self-installed device that enhances the reliability of the data.<br>
				Easy to plug in and install. It connects into the car OBD port, a standard port for all cars produced after 2001.
            </div>
        </div>
        <div class="row item" id="hiw-connect">
            <div class="hiw-t-4-sm col-xs-12 visible-xs visible-sm"></div>
            <div class="ms-ag-hiw-tab-content col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-6 col-xs-10 col-xs-offset-1">
                <h2 class="text-info text-uppercase">Data acquisition</h2>
				<h3 class="text-info">CONNECTED CARS</h3>
				In 2014 Android Auto was announced and it provides connectivity between Android phones and car infotainment systems.<br>
				You can directly acquire driving and car data, interact with a driver without any additional hardware.
            </div>
        </div>
    </div>
</div>
<section class="row">
    <div class="row col-xs-10 col-xs-offset-1">
        <div class="col-xs-12 col-md-6 text-left ms-ag-section-app">
            <h2 class="text-uppercase text-info" style="padding-bottom: 15px;"> driver's app </h2>

            <div style="margin-bottom: 10px;">
               <!--  <div class="ms-ag-fa-stack">
                    <i class="fa icon-ms-circle ms-ag-list-circle-2x"></i>
                    <i class="fa fa-phone ms-ag-list-icon-2x"></i>
                </div> -->
				<img src="assets/img/hiw-icon-scores.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> scoring </h3>

                <p> Check how good you drive with your life-time score (overall scoring) and individual subscores (e.g
                    speeding, acceleration, phone use, ...). </p>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="assets/img/hiw-icon-feedback.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> feedback </h3>

                <p> Become a better driver with private, constructive and personalized feedback and detailed driving
                    analytics. </p>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="assets/img/hiw-icon-community.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> Community </h3>

                <p> Connect with friends & colleagues to share your driving experience, benefit from the community and
                    engage in positive competitions. </p>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="assets/img/hiw-icon-goals.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> Goals </h3>

                <p> Participate in challenges to collect points and gain badges to exchange with rewards. Improve your
                    driving skills and compete with others. </p>
            </div>
            <div>
                <img src="assets/img/hiw-icon-rewards.svg" class="ms-ag-driver-icon">
				<h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> Rewards </h3>
				<p> Get discounts and promotions provided by partners/sponsors both from inside and outside the automotive ecosystem. </p>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1 hidden-xs hidden-sm text-center ms-ag-ms-image-app">
			<img src="./assets/img/hiw-app.png" alt="" style="max-width: 100%; max-height: 640px;"/>
		</div>
		<div class="col-xs-8 col-xs-offset-2 visible-xs visible-sm text-center">
			<img src="./assets/img/hiw-app.png" alt="" style="max-width: 50%; height: auto"/>
		</div>
	</div>
</section>
<section class="row bg-ms-gray-light">
    <div class="row col-xs-10 col-xs-offset-1 pv-72">
        <div class="col-md-5 col-md-offset-0 hidden-xs hidden-sm text-center">
            <img src="./assets/img/hiw-dashboard.png" alt="" style="max-width: 100%; max-height: 380px;"/>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-1 text-left">
            <h2 class="text-uppercase text-info" style="padding-bottom: 15px;"> driver's web dashboard </h2>

            <div style="margin-bottom: 10px;">
                <img src="assets/img/hiw-icon-trips.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> Trips </h3>

                <p> Driving diary with trips analytics and scores. </p>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="assets/img/hiw-icon-feedback.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> feedback </h3>

                <p> Personal driving style improvement center. </p>
            </div>
            <div style="margin-bottom: 10px;">
                <img src="assets/img/hiw-icon-goals.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> Challenges </h3>

                <p> Driving challenges board & new personal challenges settings. </p>
            </div>
            <div>
                <img src="assets/img/hiw-icon-rewards.svg" class="ms-ag-driver-icon">
                <h3 class="ms-ag-list-title text-uppercase" style="margin: 0px;"> Rewards </h3>

                <p> Direct access to offers of partners/sponsors & points management. </p>
            </div>
        </div>
		<div class="col-xs-8 col-xs-offset-2 visible-xs visible-sm text-center" style="padding-top: 54px;">
            <img src="./assets/img/hiw-dashboard.png" alt="" style="max-width: 100%; height: auto;"/>
        </div>
    </div>
</section>
<div class="row visible-sm visible-xs">
    <div class="col-xs-12 ph-0">
        <div class="ms-image-background ms-ag-ms-image-background-tools-businesses-sm"></div>
    </div>
</div>
<section class="row text-white text-sm-gray-dark ms-ag-ms-image-background-tools-businesses">
	<div class="row col-xs-10 col-xs-offset-1 pv-72">
		<h2 class="text-uppercase text-info text-center text-left-sm" style="padding-left: 15px; padding-right: 15px;"> Tools for businesses </h2>
		<div class="col-xs-12 col-md-6 text-right text-left-sm" style="margin-bottom: 21px;">
			<h2 class="text-uppercase"> Engagement dashboard </h2>
			<h3 class="text-uppercase"> Gamification </h3>
			<p> Driven competition management system that allows: </p>
			<p> Creating fully customizable campaign for drivers <i class="fa fa-check"></i><br>
			Addressing all or groups of drivers based on different criteria <i class="fa fa-check"></i><br>
			Providing virtual rewards & offer customizable badges and points <i class="fa fa-check"></i><br>
			Providing real economic rewards - in cash or services <i class="fa fa-check"></i>
			</p>
			<h3 class="text-uppercase"> Coaching </h3>
			<p> Advanced Driving Feedback System for each driver<br>
			Private, constructive and personalized feedback<br>
			Automated and post-drive feedback</p>
		</div>
		<div class="col-xs-12 col-md-6 text-left" style="margin-bottom: 21px;">
			<h2 class="text-uppercase"> connected fleets </h2>
			<h3 class="text-uppercase"> Contextualized driver's profile </h3>
			<p> Smart driving behaviour analytics & scoring including:</p>
			<p> <i class="fa fa-check"></i>
			Road context (road type, driving areas, ...)<br>
			<i class="fa fa-check"></i>
			Driving conditions (day/night, rush hours, ...)<br>
			<i class="fa fa-check"></i>
			Traffic psychology<br>
			<i class="fa fa-check"></i>
			...and much more.
			</p>
			<h3 class="text-uppercase"> Fleet management </h3>
			<p> Drivers & fleet overview<br>
			Trips overview<br>
			Driving improvement information
			</p>
		</div>
	</div>
</section>
<!-- <div class="row text-oswald text-info text-uppercase text-center">
    <div style="font-size: 14pt; cursor: pointer;" class="text-normal" du-smooth-scroll="hiw-smartphone">learn more</div>
    <div style="position: relative; top: -10px; cursor: pointer;" du-smooth-scroll="hiw-smartphone"><i class="fa fa-angle-down fa-2x"></i></div>
</div> -->
<!-- No need of the submenu anymore
<div du-spy-context class="hiw-subnav-bar text-center text-uppercase hidden-xs hidden-sm" sticky offset="60">
    <div class="col-lg-offset-2 col-lg-2 col-xs-offset-0 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-smartphone" du-smooth-scroll="hiw-smartphone">
        smartphone
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-obd" du-smooth-scroll="hiw-obd">
        obd ii
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-nfc" du-smooth-scroll="hiw-nfc">
        IBEACON & NFC
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-connect" du-smooth-scroll="hiw-connect">
        CONNECTED CARS
    </div>
</div>
<div du-spy-context class="hiw-subnav-bar text-center text-uppercase visible-xs visible-sm" sticky offset="121">
    <div class="col-lg-offset-2 col-lg-2 col-xs-offset-0 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-smartphone" du-smooth-scroll="hiw-smartphone">
        smartphone
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-obd" du-smooth-scroll="hiw-obd">
        obd ii
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-nfc" du-smooth-scroll="hiw-nfc">
        IBEACON & NFC
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-connect" du-smooth-scroll="hiw-connect">
        CONNECTED CARS
    </div>
</div>
end submenu -->
<!--<div class="fg-ms-gray-light hiw-tabs-dots">-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-smartphone-1" du-smooth-scroll="hiw-smartphone"></span></div>-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-obd" du-smooth-scroll="hiw-obd"></span></div>-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-nfc" du-smooth-scroll="hiw-nfc"></span></div>-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-connect" du-smooth-scroll="hiw-connect"></span></div>-->
<!--</div>-->
<!-- Old vertical carousel
<div class="hiw-tabs" id="hiw-tabs">
    <div class="row hiw-t-1" id="hiw-smartphone">
        <div class="hiw-t-1-sm col-xs-12 visible-xs visible-sm"></div>
        <div id="hiv-smartphone-1"></div>
        <div class="hiw-tab-content col-md-offset-2 col-md-4 col-sm-12">
            <h2 class="text-info">SMARTPHONE</h2>
            <br/>
            Exploit the potentialities of smartphone built-in sensors, as
            for example GPS and accelerometers. <br/>
            By downloading the app, users are ready to start building
            their personal Digital Driving Pass profile. <br/>
            Available also through SDK. For more information, do not
            hesitate to contact us.
        </div>
    </div>
    <div class="row hiw-t-2" id="hiw-obd">
        <div class="hiw-t-2-sm col-xs-12 visible-xs visible-sm"></div>
        <div class="hiw-tab-content col-md-offset-6 col-md-4 col-sm-12">
            <h2 class="text-info">OBD II</h2>
            <br/>
            The On-board diagnostics (OBD) system is a standardized
            hardware interface which provides a wide variety of information,
            including vehicle subsystems status. It is a small
            device that enhances the reliability of the data. <br/>
            Easy to plug in and install. It connects into the car on-board
            diagnostics port, a standard port for all cars from 2001.
        </div>
    </div>
    <div class="row hiw-t-3" id="hiw-nfc">
        <div class="hiw-t-3-sm col-xs-12 visible-xs visible-sm"></div>
        <div class="hiw-tab-content col-md-offset-2 col-md-4 col-sm-12">
            <h2 class="text-info">IBEACON & NFC</h2>
            <br/>
            It is a standardized protocol developed by Apple and introduced
            in 2013. It is implemented into Bluetooth low energy
            devices which are able to determine smartphone location
            and trigger contextual actions on the device. <br/>
            Exploit the potentialities of new technologies that automate
            the connection between cars and smartphones.
        </div>
    </div>
    <div class="row hiw-t-4" id="hiw-connect">
        <div class="hiw-t-4-sm col-xs-12 visible-xs visible-sm"></div>
        <div class="hiw-tab-content col-md-offset-6 col-md-4 col-sm-12">
            <h2 class="text-info">CONNECTED CARS</h2>
            <br/>
            Data are collected directly by the car which is equipped
            with internet access. In 2014 Android Auto was announced
            to provide a way for Android smartphones to connect to car
            infotainment systems. <br/>
            Cars are able to connect with every device with no additional
            hardware required.
        </div>
    </div>
</div>
end old vertical carousel-->
<request-a-demo></request-a-demo>