<div class="brand-header header-background-hiw text-center ms-main-foto-text text-oswald" >
    <div class="row text-center">
        <div class="col-xs-offset-1 col-xs-10 text-uppercase headline-responsive-40">
            <span>we offer the right technology</span>
            <br/>
            <br/>
        </div>
        <div class="col-md-6 col-md-offset-3 col-xs-offset-1 col-xs-10 text-center" style="font-family: arial, sans-serif; font-size: 20pt;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
        </div>
    </div>
    <div class="bg-op-70-ms-petrol text-center text-uppercase fg-ms-gray-lighter subpage-title">
        <h2 class="text-uppercase">how it works</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 text-info text-center mv-56">
        We offer companies a wide range of telematics platform solutions that integrates
        different hardware combined with top tiered, value-added services like emergency
        notification, active feedback, customer analytics and portfolio segmentation.
        <br/><br/>
        We help you deciding which is the most suitable device to support your individual
        telematics program - the best approach is always determined by the combination of
        the business and user needs.
    </div>
</div>
<div class="row text-oswald text-info text-uppercase text-center">
    <div style="font-size: 14pt; cursor: pointer;" class="text-normal" du-smooth-scroll="hiw-smartphone">learn more</div>
    <div style="position: relative; top: -10px; cursor: pointer;" du-smooth-scroll="hiw-smartphone"><i class="fa fa-angle-down fa-2x"></i></div>
</div>
<div du-spy-context class="hiw-subnav-bar text-center text-uppercase hidden-xs hidden-sm" sticky offset="60">
    <div class="col-lg-offset-2 col-lg-2 col-xs-offset-0 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-smartphone" du-smooth-scroll="hiw-smartphone">
        smartphone
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-obd" du-smooth-scroll="hiw-obd">
        obd ii
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-nfc" du-smooth-scroll="hiw-nfc">
        IBEACON & NFC
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-connect" du-smooth-scroll="hiw-connect">
        CONNECTED CARS
    </div>
</div>
<div du-spy-context class="hiw-subnav-bar text-center text-uppercase visible-xs visible-sm" sticky offset="121">
    <div class="col-lg-offset-2 col-lg-2 col-xs-offset-0 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-smartphone" du-smooth-scroll="hiw-smartphone">
        smartphone
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-obd" du-smooth-scroll="hiw-obd">
        obd ii
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-nfc" du-smooth-scroll="hiw-nfc">
        IBEACON & NFC
    </div>
    <div class="col-lg-2 col-xs-3 ms-tab hiw-tab" du-scrollspy="hiw-connect" du-smooth-scroll="hiw-connect">
        CONNECTED CARS
    </div>
</div>
<!--<div class="fg-ms-gray-light hiw-tabs-dots">-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-smartphone-1" du-smooth-scroll="hiw-smartphone"></span></div>-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-obd" du-smooth-scroll="hiw-obd"></span></div>-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-nfc" du-smooth-scroll="hiw-nfc"></span></div>-->
    <!--<div><span class="fa fa-circle hiw-dot" data-scrollspy-listen="hiw-connect" du-smooth-scroll="hiw-connect"></span></div>-->
<!--</div>-->
<div class="hiw-tabs" id="hiw-tabs">
    <div class="row hiw-t-1" id="hiw-smartphone">
        <div class="hiw-t-1-sm col-xs-12 visible-xs visible-sm"></div>
        <div id="hiv-smartphone-1"></div>
        <div class="hiw-tab-content col-md-offset-2 col-md-4 col-sm-12">
            <h2 class="text-info">SMARTPHONE</h2>
            <br/>
            Exploit the potentialities of smartphone built-in sensors, as
            for example GPS and accelerometers. <br/>
            By downloading the app, users are ready to start building
            their personal Digital Driving Pass profile. <br/>
            Available also through SDK. For more information, do not
            hesitate to contact us.
        </div>
    </div>
    <div class="row hiw-t-2" id="hiw-obd">
        <div class="hiw-t-2-sm col-xs-12 visible-xs visible-sm"></div>
        <div class="hiw-tab-content col-md-offset-6 col-md-4 col-sm-12">
            <h2 class="text-info">OBD II</h2>
            <br/>
            The On-board diagnostics (OBD) system is a standardized
            hardware interface which provides a wide variety of information,
            including vehicle subsystems status. It is a small
            device that enhances the reliability of the data. <br/>
            Easy to plug in and install. It connects into the car on-board
            diagnostics port, a standard port for all cars from 2001.
        </div>
    </div>
    <div class="row hiw-t-3" id="hiw-nfc">
        <div class="hiw-t-3-sm col-xs-12 visible-xs visible-sm"></div>
        <div class="hiw-tab-content col-md-offset-2 col-md-4 col-sm-12">
            <h2 class="text-info">IBEACON & NFC</h2>
            <br/>
            It is a standardized protocol developed by Apple and introduced
            in 2013. It is implemented into Bluetooth low energy
            devices which are able to determine smartphone location
            and trigger contextual actions on the device. <br/>
            Exploit the potentialities of new technologies that automate
            the connection between cars and smartphones.
        </div>
    </div>
    <div class="row hiw-t-4" id="hiw-connect">
        <div class="hiw-t-4-sm col-xs-12 visible-xs visible-sm"></div>
        <div class="hiw-tab-content col-md-offset-6 col-md-4 col-sm-12">
            <h2 class="text-info">CONNECTED CARS</h2>
            <br/>
            Data are collected directly by the car which is equipped
            with internet access. In 2014 Android Auto was announced
            to provide a way for Android smartphones to connect to car
            infotainment systems. <br/>
            Cars are able to connect with every device with no additional
            hardware required.
        </div>
    </div>
</div>
<request-a-demo></request-a-demo>