<div class="row brand-header header-background-main text-center text-uppercase ms-main-foto-text row ms-ag-ms-main-foto-text">
    Driving license for the future <br/>
    Connected. Smart. Empowered.
    <br/>

    <div class="row text-uppercase text-center">
        <div class="col-lg-offset-3 col-md-offset-0 col-xs-offset-3 col-lg-3 col-md-6 col-xs-3">
            <div class="btn btn-ms-transparent btn-lg btn-hv-ms-petrol btn-border btn-responsive-w"
                 ng-click="scrollToSection('main-learn-more-section')">
                learn more
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-3">
            <div class="btn btn-ms-transparent btn-lg btn-hv-ms-petrol btn-border btn-responsive-w"
                 analytics-on analytics-event="REQUEST A DEMO dialog SHOW"
                 ng-click="toggleRequestDialog()">request a demo
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-1 col-xs-10 text-info text-center ms-ag-landing-promo">
        <strong>Digital Driving Pass (DDP)</strong> is an independent platform that incentivizes drivers to drive
        smarter, safer, cheaper, and more efficiently.<br>
        A driver’s <strong>DDP profile</strong> becomes an extension of their traditional driving license and provides
        them with accurate and wide-ranging information
        on every-day driving patterns and car usage. That information can then be used to provide financial, societal
        and communal benefits.
    </div>
</div>
<!-- 
<div class="visible-xs visible-sm">
    <img src="./assets/img/home-platform.png" alt="" style="width: 30vw; margin-left: 35vw; height: auto;"/>
</div>
-->
<div id="main-learn-more-section"></div>
<div class="row bg-gray-light">
    <div class="row-height">
        <div class="col-md-5 hidden-xs hidden-sm col-md-height">
            <!--<div class="inside-full-height">-->
                <!-- -->
            <!--</div>-->
            <img id="main-carousel-img-0" class="ms-ag-ms-carousel-img" src="./assets/img/home-platform.png" alt=""/>
            <!--<img id="main-carousel-img-1" class="ms-ag-ms-carousel-img" src="./assets/img/home-platform.png" alt=""/>-->
            <!--<img id="main-carousel-img-2" class="ms-ag-ms-carousel-img" src="./assets/img/home-platform.png" alt=""/>-->
            <!--<img id="main-carousel-img-3" class="ms-ag-ms-carousel-img" src="./assets/img/home-platform.png" alt=""/>-->
        </div>
        <div class="col-md-10 col-md-offset-0 col-xs-10 col-xs-offset-1 p-36 carousel slide ms-ag-ms-carousel" data-ride="carousel" id="main-carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#main-carousel" data-slide-to="1"></li>
                <li data-target="#main-carousel" data-slide-to="2"></li>
                <li data-target="#main-carousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" id="main-carousel-item-0">
                    <h2 class="text-oswald">THE PLATFORM</h2>

                    <h3 class="fg-ms-blue text-oswald">ANALYTICS</h3>

                    <p>
                        DDP collects driving data and analyzes it to provide contextualized scoring by combining
                        information on road networks, time,
                        driving dynamics and behaviour: the higher the score, the better the driving.
                    </p>
                    <span class="btn btn-lg text-uppercase text-oswald text-normal ms-ag-btn-ms-blue"
                          ui-sref="features({section: 'analytics'})">learn more</span>
                </div>
                <div class="item" id="main-carousel-item-1">
                    <h2 class="text-oswald">THE PLATFORM</h2>

                    <h3 class="fg-ms-green text-oswald">FEEDBACK</h3>

                    <p>
                        DDP employs an Advanced Driving Feedback System that generates private and personalized feedback
                        to immediately improve driving and is tailored
                        to specific driver groups like young people, seniors or employees.
                    </p>
                    <span class="btn btn-lg text-uppercase text-oswald text-normal ms-ag-btn-ms-green"
                          ui-sref="features({section: 'feedback'})">learn more</span>
                </div>
                <div class="item" id="main-carousel-item-2">
                    <h2 class="text-oswald">THE PLATFORM</h2>

                    <h3 class="fg-ms-orange text-oswald">COMMUNITY</h3>

                    <p>
                        DDP aims at growing a community of drivers that makes it simple and fun to connect with each
                        other. DDP is privacy friendly: each driver’s DDP
                        is confidential, and each driver can share their info as they see fit.
                    </p>
                    <span class="btn btn-lg text-uppercase text-oswald text-normal ms-ag-btn-ms-orange"
                          ui-sref="features({section: 'community'})">learn more</span>
                </div>
                <div class="item" id="main-carousel-item-3">
                    <h2 class="text-oswald">THE PLATFORM</h2>

                    <h3 class="fg-ms-purple text-oswald">REWARDS</h3>

                    <p>
                        Good driving means savings and discounts on products and services available inside and outside
                        the automotive ecosystem. Specifically, drivers
                        can receive benefits from services connected to the DDP platform.
                    </p>
                    <span class="btn btn-lg text-uppercase text-oswald text-normal ms-ag-btn-ms-purple"
                          ui-sref="features({section: 'rewards'})">learn more</span>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<section class="approach-section">
    <div class="text-center text-uppercase fg-ms-gray">
        <h2 class="fg-ms-petrol text-oswald mv-56">approach</h2>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-5" style="margin-bottom: 20px;">
            <img src="assets/img/icon_driver_centric.svg" class="media-icon">

            <h3 class="media-heading text-uppercase text-oswald">driver-centric</h3>
            DDP improves road safety across the globe. Our platform works one-on-one with each driver by harvesting
            driving style data and generating real time feedback
            for that driver. Our gamified platform engages and informs drivers, changing the world, one driver at a
            time.
        </div>
        <div class="col-xs-10 col-md-5 col-md-offset-0 col-xs-offset-1">
            <img src="assets/img/icon_privacy_friendly.svg" class="media-icon">

            <h3 class="media-heading text-uppercase text-oswald">PRIVACY-FRIENDLY</h3>
            We have engineered data portability with a privacy friendly system. Drivers own their data and manage
            external access to it. They can create the data and DDP
            provides feedback, rewards and services based on driving improvements. Count on data access, control and
            privacy with DDP.
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-10 col-md-5 col-md-offset-1 col-xs-offset-1" style="margin-bottom: 20px;">
            <img src="assets/img/icon_multicontextual_platform.svg" class="media-icon">

            <h3 class="media-heading text-uppercase text-oswald">MULTICONTEXTUAL PLATFORM</h3>
            Drivers manage their own data and get information about driver services. DDP can be used in various
            contexts, including low mileage rewards, personalized insurance
            rates, anti-theft protection, car sharing and rental, and roadside assistance.
        </div>
        <div class="col-xs-10 col-md-5 col-md-offset-0 col-xs-offset-1">
            <img src="assets/img/icon_community_driven.svg" class="media-icon">

            <h3 class="media-heading text-uppercase text-oswald">COMMUNITY DRIVEN</h3>
            DDP connects drivers and opens portals to services, bonuses, rewards, and feedback. While driver style data
            is collected and feedback is delivered, drivers can connect,
            select rewards and bonuses, and get the latest news from friends and coworkers.
        </div>
    </div>
    <br>
</section>
<section class="row bg-gray-light">
    <div class="row-height">
        <div class="col-md-4 col-md-height col-xs-12 ph-0 ms-image-background ms-image-background-1">
        </div>
        <!--image-->
        <div class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-1 pv-36">
            <h2 class="fg-ms-petrol text-uppercase">TELEMATICS TECHNOLOGY ENABLER</h2>

            <h3 class="text-uppercase">OPEN ARCHITECTURE</h3>

            <p>
                Driving data can be collected by various telematics technologies, ranging from smartphones to car
                infotainment.
                We help you choose the best value offer for your business case.
            </p>
			<span class="fg-ms-petrol text-oswald text-uppercase" style="font-weight:400;">More information available soon</span>
            <!--<div class="btn btn-info btn-md text-uppercase text-oswald" ui-sref="how-it-works">see how it works</div>-->
            <br/>

            <h3 class="text-uppercase">quick & competitive deployment</h3>

            <p>
                Digital Driving Pass uses combined mobile-cloud deployment with a secure web based application and is
                suitable for
                different businesses and communities. Our easy to understand format is suitable for drivers at all
                levels of your organization.
            </p>
            <br>
        </div>
    </div>
    <!--description-->
</section>
<section class="row">
    <div class="row-height">
        <div class="col-xs-12 col-md-height visible-sm visible-xs  ph-0">
            <div class="inside-full-height ms-image-background ms-image-background-2">
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-9 col-md-offset-2 pv-36">
            <h2 class="fg-ms-petrol text-uppercase">CONNECTING DRIVERS WITH BUSINESSES</h2>

            <h3 class="text-uppercase">CONTEXTUAL DATA</h3>

            <p>
                DDP collects driving data, generating detailed insights and automatic updates with full incidents
                details.
                We help you get the most out of the telematics data, get insight into driving behaviour & car use and
                build
                personalized services that mitigate business costs and boost profits.
            </p>

            <h3 class="text-uppercase">LOYALTY PLATFORM</h3>

            <p>
                DDP provides customized rewards, bonuses, and driver dedicated resources. Extensive driver data also
                enables better
                customer insights and segmentation which could turn into better customer management and communication
                strategy to improve
                loyalty and create a long-term relationship with drivers.
            </p>
			<br>
        </div>
        <div class="col-md-4 col-md-height ph-0 ms-image-background ms-image-background-2">
            <div class="inside-full-height ">
            </div>
        </div>
        <!--image-->
    </div>
    <!--description-->
</section>
<div class="row visible-sm visible-xs">
    <div class="col-xs-12 ph-0">
        <div class="ms-image-background ms-image-background-telemetric-sm"></div>
    </div>
</div>
<!--<section class="row fg-ms-gray-dark bg-ms-gray-light pv-36 visible-sm visible-xs">
    <div class="col-xs-offset-2 col-xs-8 ">
        <h2 class="text-uppercase text-center pv-36">
            TELEMATICS ECOSYSTEM
        </h2>

        <div class="col-md-6 col-sm-12">
            <p>
                Digital Driving Pass (DDP) connects businesses to a multi-dimensional community of drivers using our
                customer engagement features. Our Advanced Driving
                Feedback System (ADFS) with smart data analytics gives drivers immediate feedback on driver style. In
                turn, we offer rewards, bonuses and driving resources
                to support and reward driving improvements.
            </p>

            <p>
                This platform deploys innovative products in partnership with various companies, built around driver
                appetites. This presents companies like yours with
                unprecedented access to a vast community of drivers, representing multiple target markets.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <p>
                If you are building a new usage-based insurance product (UBI) or you want to deploy a Remote Vehicle
                Diagnostic Service or you need driver profiling to build
                trust in your car sharing service, our platform delivers scope and data analysis. Digital Driving Pass
                can deliver the data you need, whatever your market strategy.
            </p>

            <p>
                DDP wants to start a conversation with your company about the partnership between your company and DDP
                data, driver community and engagement platform.
            </p>
        </div>
        <br/>

        <div class="col-xs-12 text-center pv-36">
            <span class="btn btn-info btn-lg text-uppercase text-oswald ph-36" ui-sref="enterprises">learn more</span>
        </div>
    </div>
</section>
-->
<section class="row text-white text-sm-gray-dark ms-image-background-telemetric pv-36">
    <div class="row col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
        <h2 class="text-uppercase text-center pv-36">
            TELEMATICS ECOSYSTEM
        </h2>

        <div class="col-md-6 col-xs-12">
            <p>
                Digital Driving Pass (DDP) connects businesses to a multi-dimensional community of drivers using our
                customer engagement features. Our Advanced Driving
                Feedback System (ADFS) with smart data analytics gives drivers immediate feedback on driver style. In
                turn, we offer rewards, bonuses and driving resources
                to support and reward driving improvements.
            </p>

            <p>
                This platform deploys innovative products in partnership with various companies, built around driver
                appetites. This presents companies like yours with
                unprecedented access to a vast community of drivers, representing multiple target markets.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <p>
                If you are building a new usage-based insurance product (UBI) or you want to deploy a Remote Vehicle
                Diagnostic Service or you need driver profiling to build
                trust in your car sharing service, our platform delivers scope and data analysis. Digital Driving Pass
                can deliver the data you need, whatever your market strategy.
            </p>

            <p>
                DDP wants to start a conversation with your company about the partnership between your company and DDP
                data, driver community and engagement platform.
            </p>
        </div>
        <br/>

        <div class="col-xs-12 text-center pv-36">
            <span class="btn btn-lg text-uppercase text-oswald ph-36 ms-ag-btn-info" ui-sref="enterprises">learn more</span>
        </div>
    </div>
</section>
<section class="partners-box">
    <div class="row hidden-xs hidden-sm bg-ms-gray-darker ">
        <div class="col-md-12">
            <div id="carousel-md" class="carousel carousel-partners slide" data-ride="carousel">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carousel-md" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-md" data-slide-to="1"></li>-->
                <!--</ol>-->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-2 partner-1"></div>
                            <div class="col-md-2 partner-2"></div>
                            <div class="col-md-2 partner-3"></div>
                            <div class="col-md-2 partner-4"></div>
                            <div class="col-md-2 partner-5"></div>
                            <div class="col-md-2 partner-6"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 partner-7"></div>
                            <div class="col-md-2 partner-8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg bg-ms-gray-darker ">
        <div class="col-md-12">
            <div id="carousel-sm" class="carousel carousel-partners slide" data-ride="carousel">
                <!-- Indicators -->
                <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#carousel-md" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#carousel-md" data-slide-to="1"></li>-->
                <!--</ol>-->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="row">
                            <div class="col-xs-3 partner-1"></div>
                            <div class="col-xs-3 partner-2"></div>
                            <div class="col-xs-3 partner-3"></div>
                            <div class="col-xs-3 partner-4"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-3 partner-5"></div>
                            <div class="col-xs-3 partner-6"></div>
                            <div class="col-xs-3 partner-7"></div>
                            <div class="col-xs-3 partner-8"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<request-a-demo></request-a-demo>
<div ng-show="ui.requestDialog" style="position: absolute; top: 0;left: 0;">
    <div class="backdrop-black" ng-click="toggleDialog()"></div>
    <div class="half-pane">
        <span class="close fg-ms-gray pull-right text-light" ng-click="toggleDialog()">
            <span class="icon-ms-clear ms-text-50"></span>
        </span>
        <div class="row text-oswald">
            <div class="col-xs-offset-1 col-xs-10">
                <h2 class="text-left text-uppercase fg-ms-petrol">request a demo</h2>

                <p>
                    Send us your information and we will
                    contact you as soon as possible to
                    arrange a meeting and show you the
                    potentialities of Digital Driving Pass
                    platform.
                </p>
                <br/>

                <form name="reqademo">
                    <div class="form-group" ng-class="{'has-error': reqademo.firstName.$invalid && reqademo.firstName.$dirty}">
                        <input type="text" name="firstName" ng-model="msg.fname" class="form-control" required
                               placeholder="FIRST NAME"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': reqademo.lastName.$invalid && reqademo.lastName.$dirty}">
                        <input type="text" name="lastName" ng-model="msg.lname" class="form-control" required
                               placeholder="SURNAME"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': reqademo.company.$invalid && reqademo.company.$dirty}">
                        <input type="text" name="company" ng-model="msg.company" class="form-control" required
                               placeholder="COMPANY"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': reqademo.email.$invalid && reqademo.email.$dirty}">
                        <input type="email" name="email" ng-model="msg.email" class="form-control" placeholder="EMAIL" required/>
                    </div>
                    <button class="btn btn-lg text-uppercase text-oswald pull-right ms-ag-btn-info"
                            ng-click="sendMsg()"
                            analytics-on analytics-event="REQUEST A DEMO dialog SEND"
                            ng-disabled="reqademo.$invalid"
                            style="width: 150pt;">subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('.carousel').carousel({
        interval: 4000
    });
    $(document).ready(function () {
        $('.ms-ag-ms-carousel-img').css('height', $('#main-carousel').outerHeight() * 1.2 + 'px');
    })
</script>