<div class="row">
    <div class="col-xs-12 bg-ms-petrol text-center text-uppercase fg-ms-gray-lighter text-oswald headline-responsive-h2 text-nobreak"
         style="height: 100px; line-height: 100px;">
        <span>connect with digital driving pass now</span>
        <span class="btn btn-lg btn-border mh-56 hidden-xs hidden-sm ms-ag-btn-hv-ms-gray-lighter"
              analytics-on analytics-event="REQUEST A DEMO dialog SHOW"
              ng-click="toggleDialog()">request a demo</span>
        <span class="btn btn-sm btn-border hidden-md hidden-lg ms-ag-btn-hv-ms-gray-lighter"
              analytics-on analytics-event="REQUEST A DEMO dialog SHOW"
              style="margin-left: 10px;"
              ng-click="toggleDialog()">request a demo</span>
    </div>
</div>
<div ng-show="ui.requestDialog" style="position: absolute; top: 0;left: 0;">
    <div class="backdrop-black" ng-click="toggleDialog()"></div>
    <div class="half-pane">
            <span class="close fg-ms-gray pull-right text-light" ng-click="toggleDialog()">
            <span class="icon-ms-clear ms-text-50"></span>
        </span>

        <div class="row text-oswald">
            <div class="col-xs-offset-1 col-xs-10">
                <h1 class="text-left text-uppercase fg-ms-petrol">request a demo</h1>

                <p>
                    Send us your information and we will
                    contact you as soon as possible to
                    arrange a meeting and show you the
                    potentialities of Digital Driving Pass
                    platform.
                </p>
                <br/>

                <form name="request">
                    <div class="form-group" ng-class="{'has-error': request.firstName.$invalid && request.firstName.$dirty}">
                        <input type="text" name="firstName" ng-model="msg.fname" class="form-control" required
                               placeholder="FIRST NAME"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': request.lastName.$invalid && request.lastName.$dirty}">
                        <input type="text" name="lastName" ng-model="msg.lname" class="form-control" required
                               placeholder="SURNAME"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': request.company.$invalid && request.company.$dirty}">
                        <input type="text" name="company" ng-model="msg.company" class="form-control" required
                               placeholder="COMPANY"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': request.email.$invalid && request.email.$dirty}">
                        <input type="email" name="email" ng-model="msg.email" class="form-control" placeholder="EMAIL" required/>
                    </div>
                    <button class="btn btn-lg btn-ms-petrol btn-border text-uppercase text-oswald pull-right"
                            ng-click="sendMsg()"
                            analytics-on analytics-event="REQUEST A DEMO dialog SEND"
                            ng-disabled="request.$invalid"
                            style="width: 150pt;">subscribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>