<div class="team-carousel-image team-carousel-image-{{member.number}} text-center"
     ng-mouseenter="showCaption = true"
     ng-mouseleave="showCaption = false">
    <div class="team-carousel-caption"
         ng-show="showCaption">
        <span>
            {{member.description}}
        </span>

        <div class="row links text-center">
            <a href="{{member.tt}}" ng-if="member.tt"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="{{member.lin}}" ng-if="member.lin"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>
    </div>
</div>
<div class="team-carousel-name text-center text-uppercase">
    <h2>{{member.name}}</h2>
    <h4>{{member.position}}</h4>
</div>