<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Digital Driving Pass</title>
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="favicon-32.png" sizes="32"/>
    <link rel="icon" type="image/png" href="favicon-64.png" sizes="64"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="assets/css/animation.css"/>
    <link rel="stylesheet" href="assets/css/ms-landing.css"/>
    <!--<link rel="stylesheet" href="assets/css/normalize.css">-->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/bootstrap-custom.css"/>
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/motosmarty.css"/>
    <link rel="stylesheet" href="assets/css/ms-ag.css"/>
    <!--<script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>-->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51899061-2', 'auto');
    </script>
    <!-- End Google Analytics -->
</head>
<body ng-app="motosmarty-landing" ng-cloak>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-controller="TopNavController">
    <nav class="visible-sm visible-xs text-oswald text-light  text-uppercase"
         ng-class="{'mobile-menu': ui.isTop, 'mobile-menu-sticky': !ui.isTop}">
        <span class="pull-left fg-ms-gray-lighter">
                    <a ui-sref="home">
                        <img src="assets/img/Logo_neg.svg" ng-show="ui.isTop"
                             alt="digital driving pass logo"
                             style="height: 80px; margin-top: 20px; margin-left: 10px;"/>
                        <img src="assets/img/Logo_cmyk.svg" ng-show="!ui.isTop"
                             alt="digital driving pass logo"
                             style="height: 80px; margin-top: 20px; margin-left: 10px;"/>
                    </a>
                </span>
    <span class="pull-right p-36 btn btn-ms-transparent">
        <i class="fa fa-bars ms-text-35"
           ng-class="{'fg-ms-gray-lighter': ui.isTop, 'fg-ms-gray-dark': !ui.isTop}"
           ng-click="toggleMobileMenu()"></i>
    </span>

        <div ng-show="ui.mobileMenu">
            <div class="backdrop-black" ng-click="toggleMobileMenu()"></div>
            <div class="half-pane">
                <span class="fg-ms-gray pull-right text-light" ng-click="toggleMobileMenu()">
                    <span class="icon-ms-clear ms-text-50"></span>
                </span>

                <div class="links">
                    <div><a ng-click="toggleMobileMenu()" ng-class="{'active': currentState === 'features'}"
                            ui-sref="features">FEATURES</a></div>
                    <div><a ng-click="toggleMobileMenu()" ng-class="{'active': currentState === 'how-it-works'}" 
							ui-sref="how-it-works">HOW IT WORKS</a></div>
                    <div><a ng-click="toggleMobileMenu()" ng-class="{'active': currentState === 'enterprises'}"
                            ui-sref="enterprises">enterprises</a></div>
                    <div><a ng-click="toggleMobileMenu()" ng-class="{'active': currentState === 'about'}"
                            ui-sref="about">ABOUT</a></div>
                    <div><a ng-click="toggleMobileMenu()" ng-class="{'active': currentState === 'contact'}"
                            ui-sref="contact">CONTACT</a></div>
                </div>
            </div>
        </div>
    </nav>
    <!--navbar mobile-->
    <div id="desktop-brand-menu" sticky
         ng-class="{'brand-menu': ui.isTop, 'brand-menu-sticky': !ui.isTop}"
         class="brand-menu hidden-sm hidden-xs text-oswald text-light">
        <div class="col-sm-2 col-sm-offset-1">
            <a ui-sref="home">
                <img src="assets/img/Logo_neg.svg" ng-show="ui.isTop"
                     alt="digital driving pass logo"
                     style="height: 80px; margin-top: 20px;"/>
                <img src="assets/img/Logo_cmyk.svg" ng-show="!ui.isTop"
                     alt="digital driving pass logo"
                     style="height: 50px; margin-top: 5px;"/>
            </a>
        </div>
        <div class="col-sm-8">
            <ul class="text-center text-uppercase brand-menu-links nav navbar-nav navbar-right">
                    <li><a ui-sref="features" ng-class="{'active': currentState === 'features'}">FEATURES</a></li>
                    <li><a ng-class="{'active': currentState === 'how-it-works'}"
                           ui-sref="how-it-works">HOW IT WORKS</a></li>
                    <li><a ng-class="{'active': currentState === 'enterprises'}"
                           ui-sref="enterprises">enterprises</a></li>
                    <li><a ng-class="{'active': currentState === 'about'}"
                           ui-sref="about">ABOUT</a></li>
                    <li>
                        <a ng-class="{'active': currentState === 'contact'}" ui-sref="contact">CONTACT</a>
                    </li>
                <div class="col-sm-offset-3 col-lg-offset-5 col-sm-2 col-lg-2">
                    <!--<a ui-sref="features" ng-class="{'active': currentState === 'features'}">FEATURES</a>-->
                <!--</div>-->
                <!--<div class="col-sm-3 col-lg-2"><a ng-class="{'active': currentState === 'how-it-works'}"-->
												  <!--ui-sref="how-it-works">HOW IT WORKS</a></div>-->
                <!--<div class="col-sm-2 col-lg-2"><a ng-class="{'active': currentState === 'enterprises'}"-->
                                                  <!--ui-sref="enterprises">enterprises</a></div>-->
                <!--<div class="col-sm-2 col-lg-2"><a ng-class="{'active': currentState === 'about'}"-->
                                                  <!--ui-sref="about">ABOUT</a></div>-->
                <!--<div class="col-sm-2 col-lg-1"><a ng-class="{'active': currentState === 'contact'}" ui-sref="contact">CONTACT</a>-->
                <!--</div>-->
            </ul>
        </div>
    </div>
</div>
<!--navbar desktop-->
<!--content-->
<div id="main-content" ui-view="content"></div>
<!--!content-->

<section class="row ms-ag-footer">
<div class="row col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="col-md-4 col-xs-5">
		<div style="padding-bottom: 10px;">
            <div class="text-uppercase text-oswald text-light ph-0">
                Digital Driving Pass
            </div>
        </div>
		<div class="ms-ag-text-11 text-uppercase" style="border-top: 1px solid #6b6b6d; padding-top: 10px; font-weight: 300; font-family: 'Open Sans', sans-serif;">
			<p style="line-height: 175%; margin-bottom: 0px;">
				<a ui-sref="features">Features</a><br>
				
				<a ui-sref="how-it-works">how it works</a><br>
				
				<a ui-sref="enterprises">Enterprises</a><br>

				<a ui-sref="about">About</a><br>

				<a ui-sref="contact">Contact</a><br>
		
				<a href="http://digitaldrivingpass.prezly.com/" target="_blank">Press</a>
			</p>
		</div>
	</div>
	
	<div class="col-md-4 hidden-sm hidden-xs">
		<div style="padding-bottom: 10px;">
            <div class="text-uppercase text-oswald text-light ph-0">
                News
            </div>
        </div>
		<div class="ms-ag-text-11" style="border-top: 1px solid #6b6b6d; padding-top: 10px; font-weight: 300; font-family: 'Open Sans', sans-serif;">
			<script src="http://digitaldrivingpass.prezly.com/widget/javascript?lang=EN&limit=3&target=blank" type="text/javascript"></script> 
			<div id="prezly-pressroom-container"></div>
		</div>
	</div>
	<div class="col-md-4 col-xs-7" style="padding-right: 20px;">
        <div style="padding-bottom: 10px;">
            <div class="text-uppercase text-oswald text-light ph-0">
                contact us
            </div>
        </div>
        <div class="ms-ag-text-11" style="border-top: 1px solid #6b6b6d; padding-top: 10px; font-weight: 300; font-family: 'Open Sans', sans-serif;">
            <div>
                <span class="fa-stack">
                    <!-- <i class="fa icon-ms-circle fa-stack-2x"></i> -->
                    <i class="fa fa-envelope" style="line-height: 2em;"></i>
                </span>
                <span style="line-height: 2em;">contact@motosmarty.com</span>
            </div>
            <div>
                <span class="fa-stack">
                    <!-- <i class="fa icon-ms-circle fa-stack-2x"></i> -->
                    <i class="fa fa-phone" style="line-height: 2em;"></i>
                </span>
                +32 (0) 485 963952
            </div>
            <div>
                <span class="fa-stack">
                    <!-- <i class="fa icon-ms-circle fa-stack-2x"></i> -->
                    <i class="fa icon-ms-house" style="line-height: 2em;"></i>
                </span>
                <span>
                    Pr. Roger van Overstraetenplein 2
                </span>
            </div>
            <div style="margin-left: 32px; margin-top: -4px;">
                3000, Leuven <br/>
                Belgium
            </div>
        </div>
    </div>
	</div>
</section>
<section class="row bg-ms-gray-dark" style="padding-left: 20px; padding-right: 20px;">
	<div class="row col-xs-12 ms-ag-social-widgets-container">
		<div class="col-xs-12 col-sm-6 ms-ag-copyright" style="color:#9e9e9e;">
			2015 &copy Digital Driving Pass. All Rights Reserved.
		</div>
		<div class="col-xs-12 col-sm-6 ms-ag-social-icons">
			<a href="https://twitter.com/motosmarty" class="ms-click-icon fa-stack fa-lg">
				<i class="fa icon-ms-circle fa-stack-2x"></i>
				<i class="fa fa-twitter social-inner fa-stack-1x"></i>
			</a>
			<a href="https://www.linkedin.com/company/motosmarty-bvba" class="ms-click-icon fa-stack fa-lg">
				<i class="fa icon-ms-circle fa-stack-2x"></i>
				<i class="fa fa-linkedin social-inner fa-stack-1x"></i>
			</a>
		</div>
	</div>
</section> 
<!-- old version 
<section class="row footer">
    <div class="col-md-2 col-md-offset-1 col-xs-offset-1 col-xs-2">
        <a ui-sref="home"><img src="assets/img/Logo_neg.svg" class="pull-right footer-logo" style="width: 150px;"/></a>
    </div>
    <div class="col-md-2 col-md-offset-0 col-xs-2 footer-link-box">
        <p class="text-uppercase"><a ui-sref="features">FEATURES</a></p>
        <!--<p class="text-uppercase"><a ui-sref="how-it-works">how it works</a></p>-->
<!--        <p class="text-uppercase"><a ui-sref="enterprises">enterprises</a></p>

        <p class="text-uppercase"><a ui-sref="about">about</a></p>

        <p class="text-uppercase"><a ui-sref="contact">contact</a></p>
    </div>
    <div class="col-md-3 col-md-offset-0 col-xs-offset-2 col-xs-4" style="padding-right: 20px;">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase text-oswald text-light ph-0">
                contact us:
            </div>
        </div>
        <div class="row text-nowrap"
             style="border-top: 1px solid white; padding-top: 10px; font-weight: 300; font-family: arial, sans-serif;">
            <div>
                <span class="fa-stack">
                    <i class="fa icon-ms-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                </span>
                contact@motosmarty.com
            </div>
            <div>
                <span class="fa-stack">
                    <i class="fa icon-ms-circle fa-stack-2x"></i>
                    <i class="fa fa-phone fa-stack-1x" style="margin-right: 6px;"></i>
                </span>
                +32 (0) 485 963952
            </div>
            <div>
                <span class="fa-stack">
                    <i class="fa icon-ms-circle fa-stack-2x"></i>
                    <i class="fa icon-ms-house fa-stack-1x"></i>
                </span>
                <span>
                    Pr. Roger van Overstraetenplein 2
                </span>
            </div>
            <div style="margin-left: 40px; margin-top: -6px;">
                3000, Leuven <br/>
                Belgium
            </div>
        </div>
    </div>
    <div class="col-md-2 col-md-offset-1 col-xs-offset-7 col-xs-4">
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-uppercase text-oswald text-light ph-0">
                follow us:
            </div>
        </div>
        <div class="row"
             style="border-top: 1px solid white; padding-top: 10px; font-weight: 300; font-family: arial, sans-serif;">
            <a href="https://twitter.com/motosmarty" class="ms-click-icon fa-stack fa-lg">
                <i class="fa icon-ms-circle fa-stack-2x"></i>
                <i class="fa fa-twitter social-inner fa-stack-1x"></i>
            </a>
            <a href="https://www.linkedin.com/company/motosmarty-bvba" class="ms-click-icon fa-stack fa-lg ">
                    <i class="fa ms-click-icon-bg icon-ms-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin social-inner fa-stack-1x"></i>
             </a>
        </div>
    </div>
</section>
-->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<script src="bower_components/ngSticky/dist/sticky.min.js"></script>
<script src="bower_components/ng-ScrollSpy.js/src/ng-ScrollSpy.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/gsap/src/minified/jquery.gsap.min.js"></script>
<script src="bower_components/gsap/src/minified/TweenMax.min.js"></script>
<script src="bower_components/ngFx/dist/ngFx.min.js"></script>
<script src="bower_components/angulartics/dist/angulartics.min.js"></script>
<script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
<script src="app.js"></script>
<!-- endbower -->
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script>
    $(document).ready(function () {
        $('#main-carousel').on('slide.bs.carousel', function (evt) {
            console.log(evt);
            var itemsNbr = 1;
            var evtNbr   = +evt.relatedTarget.id.substr(19, 2);
            var pEvtNbr  = evtNbr === 0 ? itemsNbr : evtNbr - 1;
            $('#main-carousel-img-' + pEvtNbr).hide(300, 'easeOutExpo', function () {
                $('#main-carousel-img-' + evtNbr).show(300, 'easeInExpo');
            });

        });
        $('a.ms-click-icon').mouseenter(function () {
            var first = $(this).children().first();
            first.toggleClass('icon-ms-circle-full');
        }).mouseleave(function () {
            var first = $(this).children().first();
            first.toggleClass('icon-ms-circle-full');
        })
    });
</script>
</body>
</html>
