@import "ms-variables";
@import "ms-buttons";

#main-content {
    width: 100%;
}

.brand-header {
    @media (min-width: 992px) {
        height: 100vh;
        margin-left: 0;
        margin-right: 0;
    }
    @media (max-width: 991px) {
        height: 100vh;
    }
    position: relative;
}

.lead-background(@state) {
    background: linear-gradient(
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .5)
    ), url('../img/@{state}-lead.jpg') no-repeat center;
    background-size: cover;
}

.subpage-title {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header-background {
    &-main {
        .lead-background('main');
    }
    &-features {
        .lead-background('features');
    }
    &-hiw {
        .lead-background('hiw');
    }
    &-enterprises {
        .lead-background('enterprises');
    }
    &-contact {
        .lead-background('contact');
    }
    &-about {
        .lead-background('about');
    }
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: transparent;
}
.brand-menu {
    height: 120px;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    font-size: 16pt;
    > div > .brand-menu-links {
        padding-top: 25px;
        line-height: 120px;
    }
    a {
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
            color: @ms-petrol;
        }
        &.active {
            text-decoration: none;
            font-weight: normal;
            color: @ms-petrol;
        }
        &:active, &:link {
            text-decoration: none;
        }
    }
    &-sticky {
        height: 60px;
        font-size: 15pt;
        background-color: @ms-gray-lighter;
        color: @ms-gray-dark;
        position: absolute;
        top: 0;
        z-index: 1500;
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
        .box-shadow(0 1px 2px 1px fadeout(@ms-gray, 50%));
        > div > .brand-menu-links {
            line-height: 60px;
            padding-top: 8px;
        }
        a {
            &:hover {
                text-decoration: none;
                color: @ms-petrol;
            }
            &.active {
                text-decoration: none;
                font-weight: normal;
                color: @ms-petrol;
            }
            &:active, &:link {
                text-decoration: none;
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    z-index: 2000;
    width: 100% !important;
    &-sticky {
        position: fixed;
        z-index: 2000;
        left: 0 !important;
        right: 0 !important;
        background-color: @ms-gray-light;
        color: @ms-gray-dark;
        width: 100% !important;
        .box-shadow(0 1px 2px 1px fadeout(@ms-gray, 50%));
    }
}

.ms-navbar-mobile {
    min-height: 80px;
    background-color: rgba(243, 243, 243, 0.8);
    a {
        color: @gray-dark;
    }
    margin-bottom: 0;
}

.partners-background-loop(@i) when (@i > 0) {
    .partners-background-loop((@i - 1));
    &-@{i} {
        height: 125px;
        padding: 40px !important;
        background: url('../img/partners/logo-@{i}.png') center no-repeat;
        background-size: contain;
        background-origin: content-box;
    }
}

.carousel-partners {
    height: 125px;
    padding: 0 !important;
}
.partner {
    .partners-background-loop(8);
}

@features-color-list: @ms-blue @ms-green @ms-orange @ms-purple;

.features {
    &-subnav-bar {
        font-family: 'Oswald', sans-serif;
        font-size: 16pt;
        min-height: 60px;
        line-height: 60px;
        border-left: @ms-gray-light;
        color: @ms-gray;
        background-color: @ms-gray-light;
        z-index: 1000;
        position: absolute;
        width: 100% !important;
        min-width: 700px !important;
        .ms-tab {
            .transition(0.1s, ease-in-out);
            cursor: pointer;
            min-height: 60px;
            height: 100%;
            box-sizing: border-box;
        }
        .tab-analytics {
            &.active {
                color: @ms-blue;
                border-bottom: 3px solid @ms-blue;
            }
            &:hover {
                color: @ms-blue;
            }
        }
        .tab-feedback {
            &.active {
                color: @ms-green;
                border-bottom: 3px solid @ms-green;
            }
            &:hover {
                color: @ms-green;
            }
        }
        .tab-community {
            &.active {
                color: @ms-orange;
                border-bottom: 3px solid @ms-orange;
            }
            &:hover {
                color: @ms-orange;
            }
        }
        .tab-rewards {
            &.active {
                color: @ms-purple;
                border-bottom: 3px solid @ms-purple;
            }
            &:hover {
                color: @ms-purple;
            }
        }
        .slide {

        }
    }
}

.hiw {
    &-subnav-bar {
        font-family: 'Oswald', sans-serif;
        font-size: 16pt;
        min-height: 60px;
        line-height: 60px;
        border-left: @ms-gray-light;
        color: @ms-gray;
        background-color: @ms-gray-light;
        z-index: 1000;
        position: relative;
        left: 0 !important;
        right: 0 !important;
        width: 100% !important;
        min-width: 700px !important;
        .ms-tab {
            .transition(0.1s, ease-in-out);
            cursor: pointer;
            height: 100%;
            box-sizing: border-box;
        }
        .hiw-tab {
            &.active {
                color: @ms-petrol;
                border-bottom: 3px solid @ms-petrol;
            }
            &:hover {
                color: @ms-petrol;
            }
        }
    }
    &-carousel{
        padding: 0;
        &-backgrounds{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000000;
            &>div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .carousel-indicators>li{
            border: none;
        }
        .carousel-indicators .active{
            background-color: @ms-petrol;
        }
    }
    &-tab-content {
        height: 65vh;
        color: #FFFFFF;
        padding-top: 15vh;
        @media (max-width: 991px) {
            color: @ms-gray-dark;
            height: auto;
            padding: 10vw;
        }
    }
    &-t-1 {
        background: linear-gradient(
                rgba(0, 0, 0, .65),
                rgba(0, 0, 0, .65)
        ), url('../img/hiw-smartphone.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: 991px) {
            background: @ms-gray-lighter;
        }
        &-sm {
            min-height: 50vh;
            background: url('../img/hiw-smartphone.jpg') center no-repeat;
            background-size: cover;
        }
    }
    &-t-2 {
        background: linear-gradient(
                rgba(0, 0, 0, .65),
                rgba(0, 0, 0, .65)
        ), url('../img/hiw-obd.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: 991px) {
            background: @ms-gray-light;
        }
        &-sm {
            height: 50vh;
            background: url('../img/hiw-obd.jpg') center no-repeat;
            background-size: cover;
        }
    }
    &-t-3 {
        background: linear-gradient(
                rgba(0, 0, 0, .65),
                rgba(0, 0, 0, .65)
        ), url('../img/hiw-nfc.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: 991px) {
            background: @ms-gray-lighter;
        }
        &-sm {
            min-height: 50vh;
            background: url('../img/hiw-nfc.jpg') center no-repeat;
            background-size: cover;
        }
    }
    &-t-4 {
        background: linear-gradient(
                rgba(0, 0, 0, .65),
                rgba(0, 0, 0, .65)
        ), url('../img/hiw-connect.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: 991px) {
            background: @ms-gray-light;
        }
        &-sm {
            min-height: 50vh;
            background: url('../img/hiw-connect.jpg') center no-repeat;
            background-size: cover;
        }
    }
    &-tabs-dots {
        padding: 10px 20px;
        position: fixed;
        top: 45vh;
        right: 1vw;
        z-index: 10000;
    }
    .hiv-dot.active {
        color: @ms-petrol;
    }
}

.subnav-bar {
    font-size: 15pt;
    min-height: 60px;
    border-left: @ms-gray-light;
    color: @ms-gray;
    background-color: @ms-gray-light;
    z-index: 1000;
    position: absolute;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    min-width: 700px !important;
    .ms-tab {
        .transition(0.1s, ease-in-out);
        cursor: pointer;
        height: 100%;
        box-sizing: border-box;
        line-height: 60px;
        min-height: 60px;
        text-align: center;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
        }
    }
    .tab-default {
        &.active {
            color: @ms-petrol;
            border-bottom: 3px solid @ms-petrol;
        }
        &:hover {
            color: @ms-petrol;
        }
    }
}

.subnav-anchor {
    position: relative;
    bottom: 15px;
}

.ent- {
    &t-1 {
        color: @ms-gray-lighter;
        background: linear-gradient(
                rgba(0, 0, 0, .65),
                rgba(0, 0, 0, .65)
        ), url('../img/enterprises-rental.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: 991px) {
            background: @ms-gray-lighter;
            color: @ms-gray-dark;
        }
        &-sm {
            min-height: 50vh;
            background: url('../img/enterprises-rental.jpg') center no-repeat;
            background-size: cover;
        }
    }
    &t-3 {
        color: @ms-gray-lighter;
        background: linear-gradient(
                rgba(0, 0, 0, .65),
                rgba(0, 0, 0, .65)
        ), url('../img/enterprises-fleets.jpg') center no-repeat;
        background-size: cover;
        @media (max-width: 991px) {
            background: @ms-gray-lighter;
            color: @ms-gray-dark;
        }
        &-sm {
            min-height: 50vh;
            background: url('../img/enterprises-fleets.jpg') center no-repeat;
            background-size: cover;
        }
    }
}

.team-background-loop(@i) when (@i > 0) {
    .team-background-loop((@i - 1));
    &-@{i} {
        background: url('../img/team/@{i}.jpg') center;
        background-size: cover;
    }
}

.team {
    &-carousel {
        padding: 0;
        .col-md-3, .col-xs-6, .col-md-4 {
            padding: 0 0 25px 0;
        }
        &-image {
            height: 400pt;
            width: 100%;
            .team-background-loop(20);
        }
        &-caption {
            width: 100%;
            height: 100%;
            padding: 50pt;
            color: @ms-gray-lighter;
            background-color: fadeout(@ms-gray-darker, 50%);
            span {
                position: absolute;
                top: 35%;
                left: 50%;
                padding-right: 50pt;
                padding-left: 50pt;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
            .links {
                position: absolute;
                bottom: 120pt;
                left: 0;
                right: 0;
            }
            a {
                color: @ms-gray-lighter;
                &:hover {
                    color: @ms-petrol;
                }
            }
        }
        &-name {
            height: 70pt;
        }
    }
}

//contact
.angular-google-map-container {
    //height: 1000px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#contact-location {
    position: relative;
    min-height: 50vh;
    width: 100%;
    #contact-map {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .address {
        height: 100%;
        width: 100%;
        position: absolute;
        padding-top: 15vh;
        z-index: 1000;
        background-color: fadeout(@ms-gray-light, 40%);
    }
}

.backdrop-black {
    background-color: fadeout(#000000, 30%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.half-pane {
    position: fixed;
    background-color: @ms-gray-light;
    height: 100%;
    right: 0;
    z-index: 3000;
    width: 50%;
    @media (max-width: 768px) {
        width: 80%;
    }
    .links {
        position: absolute;
        top: 30vh;
        left: 10vw;
        a {
            font-size: 21pt;
            font-weight: 300;
            line-height: 2;
            &:hover {
                color: @ms-petrol;
                font-weight: 400;
            }
            .active {
                color: @ms-petrol;
                font-weight: 400;
            }

        }
    }
    //.close{
    //    position: absolute;
    //    right: 10px;
    //    top: 5px;
    //    z-index: 3500;
    //}
}