@import "../elements";
@import "ms-variables";

.btn {
    .for(@ms-colors);
    .-each(@value) {
        &-@{value} {
            background-color: @@value;
            color: #FFFFFF;
        }
        &:hover {
            color: #FFFFFF;
        }
        padding: 12px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
        width: 220px
    }
}

.btn-hv {
    .for(@ms-colors);
    .-each(@value) {
        &-@{value}:hover {
            background-color: @@value;
            color: #FFFFFF;
        }
    }
}

.btn-border {
    .box-sizing(border-box);
    border: 3px solid #FFFFFF;
    &:hover {
        border: 3px solid transparent;
    }
}
.nav-btn {
    .for(@ms-colors);
    .-each(@value) {
        &-@{value} {
            .box-sizing(border-box);
            &:hover {
                border-bottom: 3px solid @@value;
                color: @@value;
            }
        }
    }
}
.btn-responsive-w{
    @media (max-width: 768px){
        width: auto;
    }
    @media (min-width: 769px){
        width: 220px;
    }
}
