@import "ms-variables";
@import "../elements";

//@analytics: analytics;
//@community: community;
//@feedback: feedback;
//@rewards: rewards;
@features-section-names: analytics community feedback rewards;
@about-section-names: story vision;

.features-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .for(@features-section-names);
    .-each(@value) {
        &-@{value}:extend(.features-bg){
            background-image: url("../img/features-@{value}.jpg");
        }
    }
}
.about-bg {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .for(@about-section-names);
    .-each(@value) {
        &-@{value}:extend(.about-bg){
            background-image: url("../img/about-@{value}.jpg");
        }
    }
}
.about-bg-research{
    height: 100%;
    background: linear-gradient(
            rgba(0, 0, 0, .5),
            rgba(0, 0, 0, .5)
    ), url('../img/about-research.jpg') no-repeat center;
    background-size: cover;
    @media (max-width: 991px){
        background: @ms-gray-light;
        color: @ms-gray-dark;
    }
    &-sm{
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/about-research.jpg");
        background-position: center top;
        padding-top: 100px;
        .background-size(cover);
    }
}
.h-sm-50{
    @media (max-width: 991px){
        height: 50vh;
    }
}