@import "ms-variables";

.h0 {
    @media (min-width: 992px) {
        font-size: 300%;
    }
    @media (max-width: 991px) {
        font-size: 150%;
        padding: 16px;
    }
}

.headline-responsive{
    &-h2{
        @media (max-width: 991px){
            font-size: 20px;
        }
        @media (min-width: 992px){
            font-size: 32px;
        }
    }
    &-20{
        @media (max-width: 991px){
            font-size: 18pt;
        }
        @media (min-width: 992px){
            font-size: 22pt;
        }
    }
    &-30{
        @media (max-width: 991px){
            font-size: 18pt;
        }
        @media (min-width: 992px){
            font-size: 30pt;
        }
    }
    &-40{
        @media (max-width: 991px){
            font-size: 25pt;
        }
        @media (min-width: 992px){
            font-size: 40pt;
        }
    }
    &-50{
        @media (min-width: 992px){
            font-size: 50pt;
        }
        @media (max-width: 991px){
            font-size: 35pt;
            padding-top: 30vh;
        }
    }
}
[class*="headline-responsive"]{
    font-weight: 300;
}

.text-oswald {
    font-family: "Oswald", sans-serif;
}

.text-light {
    font-weight: 300;
}
.text-normal {
    font-weight: 400;
}
.text-bold{
    font-weight: bold;
}
.text-left-sm{
    @media (max-width: 991px) {
        text-align: left;
    }
}

.text-sm-gray-dark{
    @media (max-width: 991px) {
        color: @ms-gray-dark;
    }
}

.text-gray {
    color: @ms-gray;
}

.text-gray-light {
    color: @ms-gray-light;
}

.text-white {
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.social-inner{
    font-size: 30px;
    line-height: 48px !important;
}

.ms-text{
    &-15{
        font-size: 15pt;
        &-sm{
            @media (max-width: 991px) {
                font-size: 14pt;
            }
        }
    }
    &-20{
        font-size: 20pt;
    }
    &-25{
        font-size: 25pt;
    }
    &-35{
        font-size: 35pt;
    }
    &-50{
        font-size: 50pt;
    }
    &-70{
        font-size: 70pt;
    }
    &-1{
        font-size: 1pt;
    }
}

.icon-ms-circle{
    font-size: 32px;
}
.ms-click-icon{
    .icon-ms-circle{
        font-size: 48px;
    }
    .icon-ms-circle-full{
        font-size: 48px;
    }
}
// font awesome mods
.fa-stack-1x{
    line-height: 33px;
}