@import url(https://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext);
@import "../elements";

/*
PURPLE: R 116 G 73 B 142
HEX # 74498E

GREEN: R 182 G 200 B 74
HEX # B6C84A

BLUE: R 67 G 109 B 172
HEX # 436DAC

ORANGE: R 206 G 125 B 46
HEX # CE7D2E

PETROL: R 0 G 152 B 161
HEX # 0098A1

LIGHT GREY (BACKGROUND):
R 250 G 250 B 250
HEX # FAFAFA

LIGHT GREY (BACKGROUND 2):
R 243 G 243 B 243
HEX # F3F3F3

TEXT: R 107 G 107 B 109
HEX # 6B6B6D

DARK GREY (FOOTER):
R 66 G 66 B 66
WEB # 424242

DARK GREY (PARTNERS BACKGROUND):
R 47 G 47 B 47
WEB # 2F2F2F
*/

@ms-purple: #74498E;
@ms-green: #B6C84A;
@ms-blue: #436DAC;
@ms-orange: #CE7D2E;
@ms-petrol: #0098A1;
@ms-gray-lighter: #FAFAFA;
@ms-gray-light: #F3F3F3;
@ms-gray: #6B6B6D;
@ms-gray-input: #BDBDBD;
@ms-gray-dark: #424242;
@ms-gray-darker: #2F2F2F;
@ms-transparent: transparent;

@ms-colors: ms-purple, ms-green, ms-blue, ms-orange, ms-petrol, ms-gray-lighter, ms-gray-light, ms-gray, ms-gray-dark,
ms-gray-darker, ms-transparent;

.bg {
    .for(@ms-colors);
    .-each(@value) {
        &-@{value} {
            background-color: @@value;
        }
    }
}

.bg-op-70{
    .for(@ms-colors);
    .-each(@value) {
        &-@{value} {
            background-color: fade(@@value, 30%);
        }
    }
}

.fg {
    .for(@ms-colors);
    .-each(@value) {
        &-@{value} {
            color: @@value;
        }
    }
}