@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,300,700,700italic);

@import "variables";
@import "elements";
@import "bs3-row-full-height";
@import "carousel";
@import "ms-components/ms-buttons";
@import "ms-components/ms-bars";
@import "ms-components/ms-variables";
@import "ms-components/ms-typography";
@import "ms-components/ms-backgrounds";

body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14pt;
    font-weight: 400;
    color: @ms-gray;
    min-width: 700px;
    overflow-x: hidden;
}

html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

a{
    color: @ms-gray;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.landing-promo {
    font-size: 20pt;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    & > strong {
        font-weight: 400;
    }
    @media (min-width: 992px) {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    @media (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.ms-carousel {
    background-color: @gray-light;
    min-height: 350px;
    min-width: 600px;
    position: relative;
    padding: 0;
    div {
        height: 100%;
    }
    h2 {
        padding-bottom: 25px;
    }
    h3 {
        padding-bottom: 15px;
    }
    &-img {
        position: absolute;
        bottom: 0;
        right: 100px;
        width: auto;
        max-height: 525px;
        height: ~"calc(100% + 10vh)";
    }
}

.ms-image-background {
    .background-size(cover);
    @media (max-width: 991px){
        height: 50vh;
        width: 100%;
    }
    position: relative;
    &-1 {
        background-image: url('../img/home-technology-enabler.jpg');
        background-position: center;
    }
    &-2 {
        background-image: url('../img/home-connecting-drivers.jpg');
        background-position: center;
    }
    &-telemetric {
        background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/home-ecosystem.jpg");
        background-position: center;
        padding-top: 100px;
        .background-size(cover);
        @media (max-width: 991px){
            background: @ms-gray-light;
            color: @ms-gray-dark;
        }
        &-sm{
            background: url("../img/home-ecosystem.jpg");
            background-position: center;
            padding-top: 100px;
            .background-size(cover);
        }
    }
}

.ms-main-foto-text {
    //height: 100%;
    padding-top: 25vh;
    color: @ms-gray-lighter;
    font-family: Oswald, sans-serif;
    @media (min-width: 992px){
        font-size: 50pt;
        font-weight: 400;
    }
    @media (max-width: 991px){
        font-size: 35pt;
        padding-top: 30vh;
        font-weight: 300;
    }
}

.ms-btn-white {
    color: @gray-dark;
    background-color: #FFFFFF;
    border: none;
}

.ms-btn-subscribe {
    color: @gray-dark;
    background-color: #FFFFFF;
    border: none;
}

.approach-section {
    h2 {
        margin-bottom: 15px;
    }
    .row {
        div {
            padding: 40px;
        }
    }
    .media-icon {
        width: 64px;
        height: 64px;
        float: left;
        margin: 0 20px 20px 0;
    }
}


.bg-gray {
    background-color: @gray;
}

.bg-gray-dark {
    background-color: @gray-dark;
}

.bg-gray-light {
    background-color: @gray-light;
}

.text-gray-dark {
    color: @gray-dark;
}

.p-16 {
    padding: 16px;
}
.p-36 {
    padding: 36px;
}

.pv-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.pv-36 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.pv-56 {
    padding-top: 56px;
    padding-bottom: 56px;
}

.pv-72 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.mv-36 {
    margin-top: 36px;
    margin-bottom: 36px;
}

.mv-56 {
    margin-top: 56px;
    margin-bottom: 56px;
}

.mv-72 {
    margin-top: 72px;
    margin-bottom: 72px;
}

.mh-16 {
    margin-right: 16px;
    margin-left: 16px;
}

.mh-32 {
    margin-right: 32px;
    margin-left: 32px;
}

.mh-56 {
    margin-right: 56px;
    margin-left: 56px;
}
.mt-40{
    margin-top: 40px;
}
.ph-36 {
    padding-right: 36px;
    padding-left: 36px;
}

.ph-18 {
    padding-right: 18px;
    padding-left: 18px;
}
.ph-0 {
    padding-right: 0;
    padding-left: 0;
}

.partners-box {

}

.footer {
    @media (min-width: 992px) {
        padding-top: 42px;
        &-logo {
            padding-top: 20px;
        }
    }
    @media (max-width: 991px) {
        padding: 26px;
        &-logo {
            padding-top: 90px;
        }
    }
    a {
        color: #FFFFFF;
        &:hover {
            text-decoration: none;
            font-weight: normal;
            color: @ms-petrol;
        }
        &.active {
            text-decoration: none;
            font-weight: normal;
            color: @ms-petrol;
        }
        &:active, &:link {
            text-decoration: none;
        }
    }
    font-family: Oswald, sans-serif;
    min-height: 300px;
    color: #FFFFFF;
    font-weight: 400;
    background-color: @ms-gray-dark;
    &-link-box {
        @media (min-width: 992px) {
            border-left: 1px solid #FFFFFF;
            padding-left: 36px;
        }
        @media (max-width: 991px) {
            margin: 36px 0;
            border-left: 1px solid #FFFFFF;
            padding-left: 36px;
        }
    }
}
a.ms-click-icon{
    color: @ms-gray-lighter;
    &:hover{
        color: @ms-gray-lighter;
    }
}

.social-inner:hover {
    color: @ms-petrol;
}

blockquote {
    font-size: 18pt;
}

cite {
    font-size: 18pt;
}

.placeholderRules() {
    color: @ms-gray-input;
    opacity: 1;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.form-control {
    font-family: Oswald, sans-serif;
    font-weight: 300;
    background-color: #ffffff;
    background-image: none;
    border: 3px solid @ms-gray-input;
    border-radius: 0;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: @ms-gray;
    display: block;
    font-size: 16pt;
    height: 40pt;
    line-height: 1.5;
    padding: 5pt 10pt;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    &::-webkit-input-placeholder {
        .placeholderRules()
    }
    &:-moz-placeholder {
        .placeholderRules()
    }
    &::-moz-placeholder {
        .placeholderRules()
    }
    &:-ms-input-placeholder {
        .placeholderRules()
    }
}
.form-group{
    margin-bottom: 18pt;
}