@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,300,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300&subset=latin,latin-ext);
/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/
/* content styles */
.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}
.inside-full-height {
  /*
    // if you want to give content full height give him height: 100%;
    // with content full height you can't apply margins to the content
    // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
    */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
  padding: 12px 3px;
}
/* columns of same height styles */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}
.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
  left: -12px;
  height: 80px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
  background: #428bca;
}
.btn {
  padding: 12px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
  width: 220px;
}
.btn-ms-purple {
  background-color: #74498e;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-green {
  background-color: #b6c84a;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-blue {
  background-color: #436dac;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-orange {
  background-color: #ce7d2e;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-petrol {
  background-color: #0098a1;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-gray-lighter {
  background-color: #fafafa;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-gray-light {
  background-color: #f3f3f3;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-gray {
  background-color: #6b6b6d;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-gray-dark {
  background-color: #424242;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-gray-darker {
  background-color: #2f2f2f;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-ms-transparent {
  background-color: transparent;
  color: #FFFFFF;
}
.btn:hover {
  color: #FFFFFF;
}
.btn-hv-ms-purple:hover {
  background-color: #74498e;
  color: #FFFFFF;
}
.btn-hv-ms-green:hover {
  background-color: #b6c84a;
  color: #FFFFFF;
}
.btn-hv-ms-blue:hover {
  background-color: #436dac;
  color: #FFFFFF;
}
.btn-hv-ms-orange:hover {
  background-color: #ce7d2e;
  color: #FFFFFF;
}
.btn-hv-ms-petrol:hover {
  background-color: #0098a1;
  color: #FFFFFF;
}
.btn-hv-ms-gray-lighter:hover {
  background-color: #fafafa;
  color: #FFFFFF;
}
.btn-hv-ms-gray-light:hover {
  background-color: #f3f3f3;
  color: #FFFFFF;
}
.btn-hv-ms-gray:hover {
  background-color: #6b6b6d;
  color: #FFFFFF;
}
.btn-hv-ms-gray-dark:hover {
  background-color: #424242;
  color: #FFFFFF;
}
.btn-hv-ms-gray-darker:hover {
  background-color: #2f2f2f;
  color: #FFFFFF;
}
.btn-hv-ms-transparent:hover {
  background-color: transparent;
  color: #FFFFFF;
}
.btn-border {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #FFFFFF;
}
.btn-border:hover {
  border: 3px solid transparent;
}
.nav-btn-ms-purple {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-purple:hover {
  border-bottom: 3px solid #74498e;
  color: #74498e;
}
.nav-btn-ms-green {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-green:hover {
  border-bottom: 3px solid #b6c84a;
  color: #b6c84a;
}
.nav-btn-ms-blue {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-blue:hover {
  border-bottom: 3px solid #436dac;
  color: #436dac;
}
.nav-btn-ms-orange {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-orange:hover {
  border-bottom: 3px solid #ce7d2e;
  color: #ce7d2e;
}
.nav-btn-ms-petrol {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-petrol:hover {
  border-bottom: 3px solid #0098a1;
  color: #0098a1;
}
.nav-btn-ms-gray-lighter {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-gray-lighter:hover {
  border-bottom: 3px solid #fafafa;
  color: #fafafa;
}
.nav-btn-ms-gray-light {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-gray-light:hover {
  border-bottom: 3px solid #f3f3f3;
  color: #f3f3f3;
}
.nav-btn-ms-gray {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-gray:hover {
  border-bottom: 3px solid #6b6b6d;
  color: #6b6b6d;
}
.nav-btn-ms-gray-dark {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-gray-dark:hover {
  border-bottom: 3px solid #424242;
  color: #424242;
}
.nav-btn-ms-gray-darker {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-gray-darker:hover {
  border-bottom: 3px solid #2f2f2f;
  color: #2f2f2f;
}
.nav-btn-ms-transparent {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.nav-btn-ms-transparent:hover {
  border-bottom: 3px solid transparent;
  color: transparent;
}
@media (max-width: 768px) {
  .btn-responsive-w {
    width: auto;
  }
}
@media (min-width: 769px) {
  .btn-responsive-w {
    width: 220px;
  }
}
#main-content {
  width: 100%;
}
.brand-header {
  position: relative;
}
@media (min-width: 992px) {
  .brand-header {
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .brand-header {
    height: 100vh;
  }
}
.subpage-title {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.header-background-main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/main-lead.jpg') no-repeat center;
  background-size: cover;
}
.header-background-features {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/features-lead.jpg') no-repeat center;
  background-size: cover;
}
.header-background-hiw {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hiw-lead.jpg') no-repeat center;
  background-size: cover;
}
.header-background-enterprises {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/enterprises-lead.jpg') no-repeat center;
  background-size: cover;
}
.header-background-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/contact-lead.jpg') no-repeat center;
  background-size: cover;
}
.header-background-about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/about-lead.jpg') no-repeat center;
  background-size: cover;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}
.brand-menu {
  height: 120px;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  font-size: 16pt;
}
.brand-menu > div > .brand-menu-links {
  padding-top: 25px;
  line-height: 120px;
}
.brand-menu a {
  color: #FFFFFF;
}
.brand-menu a:hover {
  text-decoration: none;
  color: #0098a1;
}
.brand-menu a.active {
  text-decoration: none;
  font-weight: normal;
  color: #0098a1;
}
.brand-menu a:active,
.brand-menu a:link {
  text-decoration: none;
}
.brand-menu-sticky {
  height: 60px;
  font-size: 15pt;
  background-color: #fafafa;
  color: #424242;
  position: absolute;
  top: 0;
  z-index: 1500;
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  -webkit-box-shadow: 0 1px 2px 1px rgba(107, 107, 109, 0.5);
  -moz-box-shadow: 0 1px 2px 1px rgba(107, 107, 109, 0.5);
  box-shadow: 0 1px 2px 1px rgba(107, 107, 109, 0.5);
}
.brand-menu-sticky > div > .brand-menu-links {
  line-height: 60px;
  padding-top: 8px;
}
.brand-menu-sticky a:hover {
  text-decoration: none;
  color: #0098a1;
}
.brand-menu-sticky a.active {
  text-decoration: none;
  font-weight: normal;
  color: #0098a1;
}
.brand-menu-sticky a:active,
.brand-menu-sticky a:link {
  text-decoration: none;
}
.mobile-menu {
  position: fixed;
  z-index: 2000;
  width: 100% !important;
}
.mobile-menu-sticky {
  position: fixed;
  z-index: 2000;
  left: 0 !important;
  right: 0 !important;
  background-color: #f3f3f3;
  color: #424242;
  width: 100% !important;
  -webkit-box-shadow: 0 1px 2px 1px rgba(107, 107, 109, 0.5);
  -moz-box-shadow: 0 1px 2px 1px rgba(107, 107, 109, 0.5);
  box-shadow: 0 1px 2px 1px rgba(107, 107, 109, 0.5);
}
.ms-navbar-mobile {
  min-height: 80px;
  background-color: rgba(243, 243, 243, 0.8);
  margin-bottom: 0;
}
.ms-navbar-mobile a {
  color: #424242;
}
.carousel-partners {
  height: 125px;
  padding: 0 !important;
}
.partner-1 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-1.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-2 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-2.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-3 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-3.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-4 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-4.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-5 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-5.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-6 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-6.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-7 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-7.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.partner-8 {
  height: 125px;
  padding: 40px !important;
  background: url('../img/partners/logo-8.png') center no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.features-subnav-bar {
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
  min-height: 60px;
  line-height: 60px;
  border-left: #f3f3f3;
  color: #6b6b6d;
  background-color: #f3f3f3;
  z-index: 1000;
  position: absolute;
  width: 100% !important;
  min-width: 700px !important;
}
.features-subnav-bar .ms-tab {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  min-height: 60px;
  height: 100%;
  box-sizing: border-box;
}
.features-subnav-bar .tab-analytics.active {
  color: #436dac;
  border-bottom: 3px solid #436dac;
}
.features-subnav-bar .tab-analytics:hover {
  color: #436dac;
}
.features-subnav-bar .tab-feedback.active {
  color: #b6c84a;
  border-bottom: 3px solid #b6c84a;
}
.features-subnav-bar .tab-feedback:hover {
  color: #b6c84a;
}
.features-subnav-bar .tab-community.active {
  color: #ce7d2e;
  border-bottom: 3px solid #ce7d2e;
}
.features-subnav-bar .tab-community:hover {
  color: #ce7d2e;
}
.features-subnav-bar .tab-rewards.active {
  color: #74498e;
  border-bottom: 3px solid #74498e;
}
.features-subnav-bar .tab-rewards:hover {
  color: #74498e;
}
.hiw-subnav-bar {
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
  min-height: 60px;
  line-height: 60px;
  border-left: #f3f3f3;
  color: #6b6b6d;
  background-color: #f3f3f3;
  z-index: 1000;
  position: relative;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  min-width: 700px !important;
}
.hiw-subnav-bar .ms-tab {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
}
.hiw-subnav-bar .hiw-tab.active {
  color: #0098a1;
  border-bottom: 3px solid #0098a1;
}
.hiw-subnav-bar .hiw-tab:hover {
  color: #0098a1;
}
.hiw-carousel {
  padding: 0;
}
.hiw-carousel-backgrounds {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}
.hiw-carousel-backgrounds > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hiw-carousel .carousel-indicators > li {
  border: none;
}
.hiw-carousel .carousel-indicators .active {
  background-color: #0098a1;
}
.hiw-tab-content {
  height: 65vh;
  color: #FFFFFF;
  padding-top: 15vh;
}
@media (max-width: 991px) {
  .hiw-tab-content {
    color: #424242;
    height: auto;
    padding: 10vw;
  }
}
.hiw-t-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hiw-smartphone.jpg') center no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .hiw-t-1 {
    background: #f3f3f3;
  }
}
.hiw-t-1-sm {
  min-height: 50vh;
  background: url('../img/hiw-smartphone.jpg') center no-repeat;
  background-size: cover;
}
.hiw-t-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hiw-obd.jpg') center no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .hiw-t-2 {
    background: #f3f3f3;
  }
}
.hiw-t-2-sm {
  height: 50vh;
  background: url('../img/hiw-obd.jpg') center no-repeat;
  background-size: cover;
}
.hiw-t-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hiw-nfc.jpg') center no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .hiw-t-3 {
    background: #fafafa;
  }
}
.hiw-t-3-sm {
  min-height: 50vh;
  background: url('../img/hiw-nfc.jpg') center no-repeat;
  background-size: cover;
}
.hiw-t-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/hiw-connect.jpg') center no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .hiw-t-4 {
    background: #f3f3f3;
  }
}
.hiw-t-4-sm {
  min-height: 50vh;
  background: url('../img/hiw-connect.jpg') center no-repeat;
  background-size: cover;
}
.hiw-tabs-dots {
  padding: 10px 20px;
  position: fixed;
  top: 45vh;
  right: 1vw;
  z-index: 10000;
}
.hiw .hiv-dot.active {
  color: #0098a1;
}
.subnav-bar {
  font-size: 15pt;
  min-height: 60px;
  border-left: #f3f3f3;
  color: #6b6b6d;
  background-color: #f3f3f3;
  z-index: 1000;
  position: absolute;
  right: 0 !important;
  left: 0 !important;
  width: 100% !important;
  min-width: 700px !important;
}
.subnav-bar .ms-tab {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  height: 100%;
  box-sizing: border-box;
  line-height: 60px;
  min-height: 60px;
  text-align: center;
}
.subnav-bar .ms-tab span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.subnav-bar .tab-default.active {
  color: #0098a1;
  border-bottom: 3px solid #0098a1;
}
.subnav-bar .tab-default:hover {
  color: #0098a1;
}
.subnav-anchor {
  position: relative;
  bottom: 15px;
}
.ent-t-1 {
  color: #fafafa;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/enterprises-rental.jpg') center no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .ent-t-1 {
    background: #fafafa;
    color: #424242;
  }
}
.ent-t-1-sm {
  min-height: 50vh;
  background: url('../img/enterprises-rental.jpg') center no-repeat;
  background-size: cover;
}
.ent-t-3 {
  color: #fafafa;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/enterprises-fleets.jpg') center no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .ent-t-3 {
    background: #fafafa;
    color: #424242;
  }
}
.ent-t-3-sm {
  min-height: 50vh;
  background: url('../img/enterprises-fleets.jpg') center no-repeat;
  background-size: cover;
}
.team-carousel {
  padding: 0;
}
.team-carousel .col-md-3,
.team-carousel .col-xs-6,
.team-carousel .col-md-4 {
  padding: 0 0 25px 0;
}
.team-carousel-image {
  height: 400pt;
  width: 100%;
}
.team-carousel-image-1 {
  background: url('../img/team/1.jpg') center;
  background-size: cover;
}
.team-carousel-image-2 {
  background: url('../img/team/2.jpg') center;
  background-size: cover;
}
.team-carousel-image-3 {
  background: url('../img/team/3.jpg') center;
  background-size: cover;
}
.team-carousel-image-4 {
  background: url('../img/team/4.jpg') center;
  background-size: cover;
}
.team-carousel-image-5 {
  background: url('../img/team/5.jpg') center;
  background-size: cover;
}
.team-carousel-image-6 {
  background: url('../img/team/6.jpg') center;
  background-size: cover;
}
.team-carousel-image-7 {
  background: url('../img/team/7.jpg') center;
  background-size: cover;
}
.team-carousel-image-8 {
  background: url('../img/team/8.jpg') center;
  background-size: cover;
}
.team-carousel-image-9 {
  background: url('../img/team/9.jpg') center;
  background-size: cover;
}
.team-carousel-image-10 {
  background: url('../img/team/10.jpg') center;
  background-size: cover;
}
.team-carousel-image-11 {
  background: url('../img/team/11.jpg') center;
  background-size: cover;
}
.team-carousel-image-12 {
  background: url('../img/team/12.jpg') center;
  background-size: cover;
}
.team-carousel-image-13 {
  background: url('../img/team/13.jpg') center;
  background-size: cover;
}
.team-carousel-image-14 {
  background: url('../img/team/14.jpg') center;
  background-size: cover;
}
.team-carousel-image-15 {
  background: url('../img/team/15.jpg') center;
  background-size: cover;
}
.team-carousel-image-16 {
  background: url('../img/team/16.jpg') center;
  background-size: cover;
}
.team-carousel-image-17 {
  background: url('../img/team/17.jpg') center;
  background-size: cover;
}
.team-carousel-image-18 {
  background: url('../img/team/18.jpg') center;
  background-size: cover;
}
.team-carousel-image-19 {
  background: url('../img/team/19.jpg') center;
  background-size: cover;
}
.team-carousel-image-20 {
  background: url('../img/team/20.jpg') center;
  background-size: cover;
}
.team-carousel-caption {
  width: 100%;
  height: 100%;
  padding: 50pt;
  color: #fafafa;
  background-color: rgba(47, 47, 47, 0.5);
}
.team-carousel-caption span {
  position: absolute;
  top: 35%;
  left: 50%;
  padding-right: 50pt;
  padding-left: 50pt;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.team-carousel-caption .links {
  position: absolute;
  bottom: 120pt;
  left: 0;
  right: 0;
}
.team-carousel-caption a {
  color: #fafafa;
}
.team-carousel-caption a:hover {
  color: #0098a1;
}
.team-carousel-name {
  height: 70pt;
}
.angular-google-map-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#contact-location {
  position: relative;
  min-height: 50vh;
  width: 100%;
}
#contact-location #contact-map {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#contact-location .address {
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 15vh;
  z-index: 1000;
  background-color: rgba(243, 243, 243, 0.6);
}
.backdrop-black {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}
.half-pane {
  position: fixed;
  background-color: #f3f3f3;
  height: 100%;
  right: 0;
  z-index: 3000;
  width: 50%;
}
@media (max-width: 768px) {
  .half-pane {
    width: 80%;
  }
}
.half-pane .links {
  position: absolute;
  top: 30vh;
  left: 10vw;
}
.half-pane .links a {
  font-size: 21pt;
  font-weight: 300;
  line-height: 2;
}
.half-pane .links a:hover {
  color: #0098a1;
  font-weight: 400;
}
.half-pane .links a .active {
  color: #0098a1;
  font-weight: 400;
}
/*
PURPLE: R 116 G 73 B 142
HEX # 74498E

GREEN: R 182 G 200 B 74
HEX # B6C84A

BLUE: R 67 G 109 B 172
HEX # 436DAC

ORANGE: R 206 G 125 B 46
HEX # CE7D2E

PETROL: R 0 G 152 B 161
HEX # 0098A1

LIGHT GREY (BACKGROUND):
R 250 G 250 B 250
HEX # FAFAFA

LIGHT GREY (BACKGROUND 2):
R 243 G 243 B 243
HEX # F3F3F3

TEXT: R 107 G 107 B 109
HEX # 6B6B6D

DARK GREY (FOOTER):
R 66 G 66 B 66
WEB # 424242

DARK GREY (PARTNERS BACKGROUND):
R 47 G 47 B 47
WEB # 2F2F2F
*/
.bg-ms-purple {
  background-color: #74498e;
}
.bg-ms-green {
  background-color: #b6c84a;
}
.bg-ms-blue {
  background-color: #436dac;
}
.bg-ms-orange {
  background-color: #ce7d2e;
}
.bg-ms-petrol {
  background-color: #0098a1;
}
.bg-ms-gray-lighter {
  background-color: #fafafa;
}
.bg-ms-gray-light {
  background-color: #f3f3f3;
}
.bg-ms-gray {
  background-color: #6b6b6d;
}
.bg-ms-gray-dark {
  background-color: #424242;
}
.bg-ms-gray-darker {
  background-color: #2f2f2f;
}
.bg-ms-transparent {
  background-color: transparent;
}
.bg-op-70-ms-purple {
  background-color: rgba(116, 73, 142, 0.3);
}
.bg-op-70-ms-green {
  background-color: rgba(182, 200, 74, 0.3);
}
.bg-op-70-ms-blue {
  background-color: rgba(67, 109, 172, 0.3);
}
.bg-op-70-ms-orange {
  background-color: rgba(206, 125, 46, 0.3);
}
.bg-op-70-ms-petrol {
  background-color: rgba(0, 152, 161, 0.3);
}
.bg-op-70-ms-gray-lighter {
  background-color: rgba(250, 250, 250, 0.3);
}
.bg-op-70-ms-gray-light {
  background-color: rgba(243, 243, 243, 0.3);
}
.bg-op-70-ms-gray {
  background-color: rgba(107, 107, 109, 0.3);
}
.bg-op-70-ms-gray-dark {
  background-color: rgba(66, 66, 66, 0.3);
}
.bg-op-70-ms-gray-darker {
  background-color: rgba(47, 47, 47, 0.3);
}
.bg-op-70-ms-transparent {
  background-color: rgba(0, 0, 0, 0.3);
}
.fg-ms-purple {
  color: #74498e;
}
.fg-ms-green {
  color: #b6c84a;
}
.fg-ms-blue {
  color: #436dac;
}
.fg-ms-orange {
  color: #ce7d2e;
}
.fg-ms-petrol {
  color: #0098a1;
}
.fg-ms-gray-lighter {
  color: #fafafa;
}
.fg-ms-gray-light {
  color: #f3f3f3;
}
.fg-ms-gray {
  color: #6b6b6d;
}
.fg-ms-gray-dark {
  color: #424242;
}
.fg-ms-gray-darker {
  color: #2f2f2f;
}
.fg-ms-transparent {
  color: transparent;
}
@media (min-width: 992px) {
  .h0 {
    font-size: 300%;
  }
}
@media (max-width: 991px) {
  .h0 {
    font-size: 150%;
    padding: 16px;
  }
}
@media (max-width: 991px) {
  .headline-responsive-h2 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .headline-responsive-h2 {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .headline-responsive-20 {
    font-size: 18pt;
  }
}
@media (min-width: 992px) {
  .headline-responsive-20 {
    font-size: 22pt;
  }
}
@media (max-width: 991px) {
  .headline-responsive-30 {
    font-size: 18pt;
  }
}
@media (min-width: 992px) {
  .headline-responsive-30 {
    font-size: 30pt;
  }
}
@media (max-width: 991px) {
  .headline-responsive-40 {
    font-size: 25pt;
  }
}
@media (min-width: 992px) {
  .headline-responsive-40 {
    font-size: 40pt;
  }
}
@media (min-width: 992px) {
  .headline-responsive-50 {
    font-size: 50pt;
  }
}
@media (max-width: 991px) {
  .headline-responsive-50 {
    font-size: 35pt;
    padding-top: 30vh;
  }
}
[class*="headline-responsive"] {
  font-weight: 300;
}
.text-oswald {
  font-family: "Oswald", sans-serif;
}
.text-light {
  font-weight: 300;
}
.text-normal {
  font-weight: 400;
}
.text-bold {
  font-weight: bold;
}
@media (max-width: 991px) {
  .text-left-sm {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .text-sm-gray-dark {
    color: #424242;
  }
}
.text-gray {
  color: #6b6b6d;
}
.text-gray-light {
  color: #f3f3f3;
}
.text-white {
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.social-inner {
  font-size: 30px;
  line-height: 48px !important;
}
.ms-text-15 {
  font-size: 15pt;
}
@media (max-width: 991px) {
  .ms-text-15-sm {
    font-size: 14pt;
  }
}
.ms-text-20 {
  font-size: 20pt;
}
.ms-text-25 {
  font-size: 25pt;
}
.ms-text-35 {
  font-size: 35pt;
}
.ms-text-50 {
  font-size: 50pt;
}
.ms-text-70 {
  font-size: 70pt;
}
.ms-text-1 {
  font-size: 1pt;
}
.icon-ms-circle {
  font-size: 32px;
}
.ms-click-icon .icon-ms-circle {
  font-size: 48px;
}
.ms-click-icon .icon-ms-circle-full {
  font-size: 48px;
}
.fa-stack-1x {
  line-height: 33px;
}
.features-bg,
.features-bg-analytics,
.features-bg-community,
.features-bg-feedback,
.features-bg-rewards {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.features-bg-analytics {
  background-image: url("../img/features-analytics.jpg");
}
.features-bg-community {
  background-image: url("../img/features-community.jpg");
}
.features-bg-feedback {
  background-image: url("../img/features-feedback.jpg");
}
.features-bg-rewards {
  background-image: url("../img/features-rewards.jpg");
}
.about-bg,
.about-bg-story,
.about-bg-vision {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-bg-story {
  background-image: url("../img/about-story.jpg");
}
.about-bg-vision {
  background-image: url("../img/about-vision.jpg");
}
.about-bg-research {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/about-research.jpg') no-repeat center;
  background-size: cover;
}
@media (max-width: 991px) {
  .about-bg-research {
    background: #f3f3f3;
    color: #424242;
  }
}
.about-bg-research-sm {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/about-research.jpg");
  background-position: center top;
  padding-top: 100px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 991px) {
  .h-sm-50 {
    height: 50vh;
  }
}
body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14pt;
  font-weight: 400;
  color: #6b6b6d;
  min-width: 700px;
  overflow-x: hidden;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}
a {
  color: #6b6b6d;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.landing-promo {
  font-size: 20pt;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.landing-promo > strong {
  font-weight: 400;
}
@media (min-width: 992px) {
  .landing-promo {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
@media (max-width: 991px) {
  .landing-promo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.ms-carousel {
  background-color: #f3f3f3;
  min-height: 350px;
  min-width: 600px;
  position: relative;
  padding: 0;
}
.ms-carousel div {
  height: 100%;
}
.ms-carousel h2 {
  padding-bottom: 25px;
}
.ms-carousel h3 {
  padding-bottom: 15px;
}
.ms-carousel-img {
  position: absolute;
  bottom: 0;
  right: 100px;
  width: auto;
  max-height: 525px;
  height: calc(100% + 10vh);
}
.ms-image-background {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
@media (max-width: 991px) {
  .ms-image-background {
    height: 50vh;
    width: 100%;
  }
}
.ms-image-background-1 {
  background-image: url('../img/home-technology-enabler.jpg');
  background-position: center;
}
.ms-image-background-2 {
  background-image: url('../img/home-connecting-drivers.jpg');
  background-position: center;
}
.ms-image-background-telemetric {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/home-ecosystem.jpg");
  background-position: center;
  padding-top: 100px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 991px) {
  .ms-image-background-telemetric {
    background: #f3f3f3;
    color: #424242;
  }
}
.ms-image-background-telemetric-sm {
  background: url("../img/home-ecosystem.jpg");
  background-position: center;
  padding-top: 100px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ms-main-foto-text {
  padding-top: 25vh;
  color: #fafafa;
  font-family: Oswald, sans-serif;
}
@media (min-width: 992px) {
  .ms-main-foto-text {
    font-size: 50pt;
    font-weight: 400;
  }
}
@media (max-width: 991px) {
  .ms-main-foto-text {
    font-size: 35pt;
    padding-top: 30vh;
    font-weight: 300;
  }
}
.ms-btn-white {
  color: #424242;
  background-color: #FFFFFF;
  border: none;
}
.ms-btn-subscribe {
  color: #424242;
  background-color: #FFFFFF;
  border: none;
}
.approach-section h2 {
  margin-bottom: 15px;
}
.approach-section .row div {
  padding: 40px;
}
.approach-section .media-icon {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0 20px 20px 0;
}
.bg-gray {
  background-color: #9b9b9b;
}
.bg-gray-dark {
  background-color: #424242;
}
.bg-gray-light {
  background-color: #f3f3f3;
}
.text-gray-dark {
  color: #424242;
}
.p-16 {
  padding: 16px;
}
.p-36 {
  padding: 36px;
}
.pv-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}
.pv-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}
.pv-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.pv-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.mv-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}
.mv-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.mv-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}
.mh-16 {
  margin-right: 16px;
  margin-left: 16px;
}
.mh-32 {
  margin-right: 32px;
  margin-left: 32px;
}
.mh-56 {
  margin-right: 56px;
  margin-left: 56px;
}
.mt-40 {
  margin-top: 40px;
}
.ph-36 {
  padding-right: 36px;
  padding-left: 36px;
}
.ph-18 {
  padding-right: 18px;
  padding-left: 18px;
}
.ph-0 {
  padding-right: 0;
  padding-left: 0;
}
.footer {
  font-family: Oswald, sans-serif;
  min-height: 300px;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #424242;
}
@media (min-width: 992px) {
  .footer {
    padding-top: 42px;
  }
  .footer-logo {
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 26px;
  }
  .footer-logo {
    padding-top: 90px;
  }
}
.footer a {
  color: #FFFFFF;
}
.footer a:hover {
  text-decoration: none;
  font-weight: normal;
  color: #0098a1;
}
.footer a.active {
  text-decoration: none;
  font-weight: normal;
  color: #0098a1;
}
.footer a:active,
.footer a:link {
  text-decoration: none;
}
@media (min-width: 992px) {
  .footer-link-box {
    border-left: 1px solid #FFFFFF;
    padding-left: 36px;
  }
}
@media (max-width: 991px) {
  .footer-link-box {
    margin: 36px 0;
    border-left: 1px solid #FFFFFF;
    padding-left: 36px;
  }
}
a.ms-click-icon {
  color: #fafafa;
}
a.ms-click-icon:hover {
  color: #fafafa;
}
.social-inner:hover {
  color: #0098a1;
}
blockquote {
  font-size: 18pt;
}
cite {
  font-size: 18pt;
}
.form-control {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  background-image: none;
  border: 3px solid #bdbdbd;
  border-radius: 0;
  color: #6b6b6d;
  display: block;
  font-size: 16pt;
  height: 40pt;
  line-height: 1.5;
  padding: 5pt 10pt;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.form-control::-webkit-input-placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.form-control:-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.form-control::-moz-placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.form-control:-ms-input-placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.form-group {
  margin-bottom: 18pt;
}
