/*MAIN page*/
.ms-ag-landing-promo {
  font-size: 20pt;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.ms-ag-landing-promo > strong {
  font-weight: 400;
}
@media (min-width: 992px) {
  .ms-ag-landing-promo {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
@media (max-width: 991px) {
  .ms-ag-landing-promo {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.ms-ag-ms-main-foto-text {
  padding-top: 30vh;
  color: #fafafa;
  font-family: Oswald, sans-serif;
}
@media (min-width: 992px) {
  .ms-ag-ms-main-foto-text {
    font-size: 50pt;
    font-weight: 300;
  }
}
@media (max-width: 991px) {
  .ms-ag-ms-main-foto-text {
    font-size: 35pt;
    padding-top: 30vh;
    font-weight: 300;
  }
}
.ms-ag-ms-carousel {
  background-color: #f3f3f3;
  min-height: 350px;
  min-width: 600px;
  position: relative;
  /*padding: 0;*/
}
.ms-ag-ms-carousel div {
  height: 100%;
}
.ms-ag-ms-carousel h2 {
  padding-bottom: 0px;
}
.ms-ag-ms-carousel h3 {
  padding-bottom: 0px;
}
.ms-ag-ms-carousel-img {
  position: absolute;
  padding-top: 3vh;
  bottom: 0;
  right: 5vh;
  width: auto;
  max-height: 525px;
  height: calc(100% + 10vh);
}

/* buttons */
.ms-ag-btn-ms-blue {
  background-color: #436dac;
  color: #FFFFFF;
}
.ms-ag-btn-ms-blue:hover {
  background-color: #395d92;
  color: #FFFFFF;
}
.ms-ag-btn-ms-green {
  background-color: #b6c84a;
  color: #FFFFFF;
}
.ms-ag-btn-ms-green:hover {
  background-color: #9fae41;
  color: #FFFFFF;
}
.ms-ag-btn-ms-orange {
  background-color: #ce7d2e;
  color: #FFFFFF;
}
.ms-ag-btn-ms-orange:hover {
  background-color: #b46e28;
  color: #FFFFFF;
}
.ms-ag-btn-ms-purple {
  background-color: #74498e;
  color: #FFFFFF;
}
.ms-ag-btn-ms-purple:hover {
  background-color: #5f3c74;
  color: #FFFFFF;
}
.ms-ag-btn-hv-ms-gray-lighter {
  color: #ffffff;
  background-color: transparent;
}
.ms-ag-btn-hv-ms-gray-lighter:hover{
  color: #0098a1;
  background-color: #ffffff;
}
.ms-ag-btn-info {
  color: #ffffff;
  background-color: #0098a1;
  border-color: #0098a1;
}
.ms-ag-btn-info:focus,
.ms-ag-btn-info.focus {
  color: #ffffff;
  background-color: #008087;
  border-color: #008087;
}
.ms-ag-btn-info:hover {
  color: #ffffff;
  background-color: #008087;
  border-color: #008087;
}
.ms-ag-btn-info:active,
.ms-ag-btn-info.active,
.open > .dropdown-toggle.ms-ag-btn-info {
  color: #ffffff;
  background-color: #008087;
  border-color: #008087;
}
.ms-ag-btn-info:active:hover,
.ms-ag-btn-info.active:hover,
.open > .dropdown-toggle.ms-ag-btn-info:hover,
.ms-ag-btn-info:active:focus,
.ms-ag-btn-info.active:focus,
.open > .dropdown-toggle.ms-ag-btn-info:focus,
.ms-ag-btn-info:active.focus,
.ms-ag-btn-info.active.focus,
.open > .dropdown-toggle.ms-ag-btn-info.focus {
  color: #ffffff;
  background-color: #00464a;
  border-color: #00464a;
}
.ms-ag-btn-info:active,
.ms-ag-btn-info.active,
.open > .dropdown-toggle.ms-ag-btn-info {
  background-image: none;
}
.ms-ag-btn-info.disabled,
.ms-ag-btn-info[disabled],
fieldset[disabled] .ms-ag-btn-info,
.ms-ag-btn-info.disabled:hover,
.ms-ag-btn-info[disabled]:hover,
fieldset[disabled] .ms-ag-btn-info:hover,
.ms-ag-btn-info.disabled:focus,
.ms-ag-btn-info[disabled]:focus,
fieldset[disabled] .ms-ag-btn-info:focus,
.ms-ag-btn-info.disabled.focus,
.ms-ag-btn-info[disabled].focus,
fieldset[disabled] .ms-ag-btn-info.focus,
.ms-ag-btn-info.disabled:active,
.ms-ag-btn-info[disabled]:active,
fieldset[disabled] .ms-ag-btn-info:active,
.ms-ag-btn-info.disabled.active,
.ms-ag-btn-info[disabled].active,
fieldset[disabled] .ms-ag-btn-info.active {
  background-color: #0098a1;
  border-color: #008088;
}
.ms-ag-btn-info .badge {
  color: #0098a1;
  background-color: #ffffff;
}


/* HOW IT WORKS page */
.ms-ag-services-icon {
	width: 96px;
	height: 96px;
	/* text-align: center; */
	margin: 20px 0px 0px;
}
.ms-ag-driver-icon {
	width: 32px;
	height: 32px;
	line-height: 40px;
	float: left;
	/* margin: 0px 20px 0px 0px; */
}
.ms-ag-hiw-tab-content {
	height: 65vh;
	color: #FFFFFF;
	padding-top: 10vh;
	padding-left: 30px;
	padding-right: 30px;
	/* padding-bottom: 108px; */
}
@media (max-width: 991px) {
  .ms-ag-hiw-tab-content {
    color: #424242;
    height: auto;
	padding-top: 54px;
	padding-bottom: 108px;
    /* padding: 10vw; */
  }
}
.ms-ag-section-app {
	padding-top: 72px;
	padding-bottom: 72px;
}
@media (max-width: 991px) {
	.ms-ag-section-app {
		padding-bottom: 54px;
	}
}
.ms-ag-ms-image-app {
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-top: 54px;
}
.ms-ag-image-dashboard {
	background: url("../img/hiw-dashboard.png");
	background-position: center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ms-ag-ms-image-background-tools-businesses {
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/hiw-tools-businesses.jpg");
	background-position: bottom;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media (max-width: 991px) {
  .ms-ag-ms-image-background-tools-businesses {
    background: #ffffff;
    color: #424242;
  }
}
.ms-ag-ms-image-background-tools-businesses-sm {
	background: url("../img/hiw-tools-businesses.jpg");
	background-position: center;
	padding-top: 100px;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ms-ag-fa-stack {
	position: relative;
	display: table-cell;
	width: 40px;
	height: 40px;
	line-height: 40px;
	vertical-align: top;
	text-align: left;
}
.ms-ag-list-circle-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: left;
	font-size: 40px;
	color: #0098a1;
}
.ms-ag-list-icon-2x {
	line-height: 40px;
	text-align: center;
	width: 100%;
	color: #0098a1;
}
.ms-ag-list-title {
	display: table-cell;
	line-height: 40px;
	vertical-align: middle;
	padding-left: 15px;
}

/* ENTERPRISES page */
.ms-ag-pv-36-18 {
	padding-top: 36px;
	padding-bottom: 18px;
}

/*ABOUT page*/
.ms-ag-about-bg-research {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../img/about-research.jpg') no-repeat center;
  background-size: cover;
}
@media (max-width: 991px) {
  .ms-ag-about-bg-research {
    background: #f3f3f3;
    color: #424242;
  }
}

/*others*/
#credit {
  display:none;
}

/*footer*/
.ms-ag-footer {
  font-family: Oswald, sans-serif;
  /* min-height: 300px; */
  color: #fafafa;
  font-weight: 400;
  background-color: #2f2f2f;
}
@media (min-width: 992px) {
  .ms-ag-footer {
    padding: 42px;
  }
  .ms-ag-footer-logo {
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .ms-ag-footer {
    padding: 26px;
  }
  .footer-logo {
    padding-top: 90px;
  }
}
.ms-ag-footer a {
  color: #fafafa;
}
.ms-ag-footer a:hover {
  text-decoration: none;
  font-weight: normal;
  color: #0098a1;
}
.ms-ag-footer a.active {
  text-decoration: none;
  font-weight: normal;
  color: #0098a1;
}
.ms-ag-footer a:active,
.ms-ag-footer a:link {
  text-decoration: none;
}
.ms-ag-text-11 {
	font-size: 11pt;
}
.ms-ag-social-widgets {
	background: #212121;
}
.ms-ag-social-widgets-container {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
}
.ms-ag-copyright {
	text-align: left;
	font-size: 15px;
	line-height: 25px;
}
@media (max-width: 767px) {
  .ms-ag-copyright {
    text-align: center;
	padding-bottom: 5px;
  }
}
@media (min-width: 768px) {
	.ms-ag-copyright{
		line-height: 50px;
	}
}
.ms-ag-social-icons {
	text-align: right;
}
@media (max-width: 767px) {
  .ms-ag-social-icons {
    text-align: center;
  }
}