
/*.icon-ms-house:before { content: '\e800'; } /!* '' *!/*/
/*.icon-ms-globe:before { content: '\e801'; } /!* '' *!/*/
/*.icon-ms-human-marker:before { content: '\e802'; } /!* '' *!/*/
/*.icon-ms-envelope:before { content: '\e803'; } /!* '' *!/*/
/*.icon-ms-graph:before { content: '\e804'; } /!* '' *!/*/
/*.icon-ms-lock:before { content: '\e805'; } /!* '' *!/*/
/*.icon-ms-phone:before { content: '\e806'; } /!* '' *!/*/

.icon-ms-clear:before {
    content: "\e070";
}
.icon-ms-house:before {
    content: "\e600";
}
.icon-ms-globe:before {
    content: "\e601";
}
.icon-ms-human-marker:before {
    content: "\e602";
}
.icon-ms-envelope:before {
    content: "\e603";
}
.icon-ms-graph:before {
    content: "\e604";
}
.icon-ms-lock:before {
    content: "\e605";
}
.icon-ms-phone:before {
    content: "\e606";
}
