@font-face {
  font-family: 'ms-landing';
  src: url('../font/ms-landing.eot?75054027');
  src: url('../font/ms-landing.eot?75054027#iefix') format('embedded-opentype'),
       url('../font/ms-landing.woff?75054027') format('woff'),
       url('../font/ms-landing.ttf?75054027') format('truetype'),
       url('../font/ms-landing.svg?75054027#ms-landing') format('svg');
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ms-landing';
    src: url('../font/ms-landing.svg?75054027#ms-landing') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ms-landing";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  /*display: inline-block;*/
  /*text-decoration: inherit;*/
  /*width: 1em;*/
  /*/!*margin-right: .2em;*!/*/
  /*text-align: center;*/
  /*/!* opacity: .8; *!/*/

  /*/!* For safety - reset parent styles, that can break glyph codes*!/*/
  /*font-variant: normal;*/
  /*text-transform: none;*/

  /*/!* fix buttons height, for twitter bootstrap *!/*/
  /*line-height: 1em;*/

  /*/!* Animation center compensation - margins should be symmetric *!/*/
  /*/!* remove if not needed *!/*/
  /*/!*margin-left: .2em;*!/*/

  /*/!* you can be more comfortable with increased icons size *!/*/
  /*/!* font-size: 120%; *!/*/

  /*/!* Font smoothing. That was taken from TWBS *!/*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ms-clear:before {
    content: "\e070";
}
.icon-ms-circle:before {
    content: "\e607";
}
.icon-ms-circle-full:before {
    content: "\e608";
}
.icon-ms-house:before {
    content: "\e600";
}
.icon-ms-globe:before {
    content: "\e601";
}
.icon-ms-human-marker:before {
    content: "\e602";
}
.icon-ms-envelope:before {
    content: "\e603";
}
.icon-ms-graph:before {
    content: "\e604";
}
.icon-ms-lock:before {
    content: "\e605";
}
.icon-ms-phone:before {
    content: "\e606";
}
